[2015-11-06 13:50] praneybehl opened #3 "License?"
Can you please mention License? Is it licensed under MIT?

[2015-11-06 14:38] DominicTobias commented on #3
Hi, it's using the default ISC license that npm inserts when creating a package (as seen in package.json). I've added a LICENSE file just to be clear. This is a simplified MIT/BSD licence with the same intentions (for open source software)

[2015-11-06 14:38] #3 closed

[2015-11-20 17:50] DanlanNZ opened #4 "Inline Styles"
what are your thoughts on using inline styles for this component? any objections if I implement it?

[2015-11-20 17:59] DominicTobias commented on #4
Hi @DanlanNZ, thanks I really appreciate the offer but not sure about inline styles as at the moment people can override the look of the crop, but this would make it more difficult.

Admittedly it's not something that most projects want to change however there are some alternative looks for crops like http://dev.vizuina.com/cropper/ and https://fengyuanchen.github.io/cropper/ out there.

I do get

[2015-11-20 18:27] DanlanNZ commented on #4
thanks for getting back to me so quickly @DominicTobias, I believe inline styles can provide a similar level of customisability by providing multiple style tags (e.g. style, selectionStyle) then assigning these to the component (using Object.assign or similar) overriding the defaults were necessary.

Material-UI does this well https://github.com/callemall/material-ui/blob/master/src/icon-button.js

[2015-11-20 18:45] DominicTobias commented on #4
Yeah Radium looks good as it handles cases inline styles can't handle like pseudo classes. However it's almost 40kb minified so it's just too large of a dependency to demand of somebody using this tool.

The material UI looks like for each style it merges with a prop, so the styles are overridable and so that seems like a reasonable idea. My concern is how much additional code what be needed, but

[2015-11-20 18:47] DominicTobias commented on #4
Feel free to create a fork with your ideas if you want, I just can't say whether I would merge it or not as I'm not sure if it's a good idea yet :)

[2015-11-22 19:35] DanlanNZ commented on #4
point taken re. Radium's size, bit of an overkill for a small component. I took a stab at implementing the Material-UI style solution over the weekend and opened a pull request #5 for you to review.

Functionality is at a similar level to SASS styling but without responsive styles. I could implement this on componentWillMount() using window.innerWidth but it's a bit of an overkill IMHO. Hover even

[2015-11-24 12:56] DominicTobias commented on #4
@DanlanNZ still haven't had a chance to look will try to later today, my main concern is the responsive styles bit but I think it must still be able to be responsive - anyway will check to see what you mean!

[2015-11-24 16:01] DominicTobias commented on #4
Hi @DanlanNZ, had a look at the PR and it's a good implementation of inline styles.. really, if I wanted to go down the inline styles route this would be it. There are already people using this so it's a breaking change and quite disruptive for them, and as I said apart from convenience it seems a there are a couple disadvantages (just in my opinion). So please create a fork with it! PS for the an

[2015-11-24 16:01] #4 closed

[2015-11-24 16:40] DanlanNZ commented on #4
thanks for the update and template string suggestion, you know where it is if you ever decide otherwise :smile:

[2015-12-14 21:43] nhagen opened #6 "Max height"
The responsive aspect of this is great, but I'm not seeing a way to limit height for tall images. Is there an easy path to doing this?

[2015-12-15 10:04] DominicTobias commented on #6
Hi & thanks @nhagen, the css intentionally doesn't apply any rules to the dimensions, it will just grow up to the maximum width of the image. I recommend you apply css to it, or to the container such as `max-height`, Without knowing the layout that this will be used in, it's best to leave that up to the website using it. https://www.google.co.uk/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#

[2015-12-15 10:04] #6 closed

[2016-01-17 23:58] DPr00f opened #8 "Aspect"
The latest changes broke the library.
If an aspect is set just moving the crop area around makes it disappear on mouse up.
Here's a gif explaining the problem.
![bug](https://cloud.githubusercontent.com/assets/989959/12380915/36f14266-bd76-11e5-8a36-ff1df73b5169.gif)
No errors on the console.
I've found the problem, will open a pull request soon with the fix.

[2016-01-18 10:14] DominicTobias commented on #8
Ouch that's a bad bug thanks for bringing it up and making a PR @DPr00f! will take a look today

[2016-01-18 17:57] DominicTobias commented on #8
@DPr00f interestingly I can't replicate this, what values are you passing as `crop` and what browser are you using?

[2016-01-18 18:31] DPr00f commented on #8
I'm passing width: 100, aspect: 16/9, x:0, y:0

[2016-01-18 18:42] DominicTobias commented on #8
Thanks for the fix, it was just published to npm as 0.0.13

[2016-01-18 18:42] #8 closed

[2016-01-18 19:05] DPr00f commented on #8
Thanks for publishing it so quickly. :+1:

[2016-01-21 00:57] DPr00f opened #13 "(Idea) Trigger event when image is loaded"
Hey @DominicTobias,
Sorry to raise an issue but couldn't find another way to submit an idea.
I was wondering if the library should be triggering an event (onLoaded/onComplete) when the image is loaded. The reason when I'm asking is that if the aspect property is passed in, essentially the crop state will change, but it's not reported back to the parent component.
By now I'm avoiding this by doing

[2016-01-21 11:48] DominicTobias commented on #13
Not at all - I appreciate the suggestions and contributions! Exposing the image load event would be fine by me, perhaps `onImageLoaded`? Feel free to make a PR :)

[2016-01-21 12:06] DPr00f commented on #13
`onImageLoaded` seems good to me.
I'll do the PR then :)
Thanks

[2016-01-22 20:26] Janekk opened #14 "Cropping by top corners"
Tried that in Chrome. Grabbing the corner and trying to make the crop area smaller, causes moving the whole crop area to some other part of the image. Pretty nasty ;)

[2016-01-22 21:32] DominicTobias commented on #14
@Janekk That's strange, I can't replicate it - what version are you using and what crop params did you use? If you open demo/index.html do you get the same behaviour?

[2016-01-22 21:51] Janekk commented on #14
Just stumbled upon that in my React component, pretty basic one:

[code]

Will try to test it in isolation to be sure that nothing from my project influences that behavior. Btw. @DominicTobias how can I run your demo? I started it with `npm dev`, webpack has started, but what url/port is it running on?

[2016-01-22 21:53] DominicTobias commented on #14
Thanks I'll check this probably tomorrow. To run that that (without wanting
to modify the source) simply open up index.html - no need to start a server

On Friday, 22 January 2016, Janusz Kacalak <notifications@github.com> wrote:

[2016-01-23 11:30] DPr00f commented on #14
I think I know what's going on with this issue.
Probably the image you're using is bigger in width than height.
But you're forcing the width to be 60% and letting react-image-crop to figure out the height. (Which will most likely be outside of the boundaries)
Take a look at the gif
![bug14](https://cloud.githubusercontent.com/assets/989959/12529940/4b64c1e4-c1c4-11e5-92fc-d0ef1c29bb9f.gif)

A work

[2016-01-23 11:56] DPr00f commented on #14
@Janekk can you tell by the gif if those were the problems you were experiencing?

[2016-01-23 13:09] DominicTobias commented on #14
Thanks for the investigation @DPr00f , even if it's not that it's a good catch

[2016-01-23 13:27] #13 closed

[2016-01-25 09:43] Janekk commented on #14
@DPr00f actually it was a vertical image, so it should be ok with settings from my snippet. I'll take a look today again

[2016-01-25 09:44] DominicTobias commented on #14
@Janekk if you still have the problem please link to the image here and I'll try with those settings

[2016-01-26 09:49] Janekk commented on #14
@DominicTobias @DPr00f the problem turned out to be quite simple one to reproduce. Try adding something to the demo page above the file input, that takes some vertical space, so that you have scroll to the image crop area. Then try dragging the top corners. It might be something with the offset calculation (`getElementOffset` ?)

[2016-01-26 09:50] DominicTobias commented on #14
Thanks that sounds easy to reproduce, I'll take a look later

[2016-01-27 16:44] DominicTobias commented on #14
Fixed in 0.0.1

[2016-01-27 16:44] #14 closed

[2016-01-27 17:06] DPr00f commented on #14
Nice. Good job Dominic

[2016-01-27 22:28] Janekk commented on #14
Thank you Dominic

[2016-02-03 17:38] IljaDaderko opened #17 "Keeping crop values i.e. top, left, width, height in states?"
Hi,

Got the cropping tool working and was able to style it to my needs, but I can't seem to be able and figure out how to grab those % values you set on a div i.e. top, left, width and height and keep them inside the state every time crop is performed. I assume through onChange(crop), but I wanted to ask you if it is possible to see a snippet showing its correct implementation.

[2016-02-03 17:46] DPr00f commented on #17
Hi @IljaDaderko,
Here's a sample
[code]

that should be enough to get you going. Let me know otherwise

[2016-02-03 17:51] IljaDaderko commented on #17
Awesome, thank you :+1:

[2016-02-03 17:51] #17 closed

[2016-02-04 17:27] IljaDaderko opened #18 "Crop overlay (darkened background) not showing in firefox 44.0"
Jut tested image cropping in firefox 44, but it doesn't seem to show that dark/opaque overlay to show where image will be cropped.

[2016-02-05 06:55] DominicTobias commented on #18
I had quite the internal debate when implementing this as I'm using the css "clip-path" property which has limited browser support. It means cleaner code as the alternative is to move 4 divs around to create the illusion. My logic was that a clipping tool is likely to be used in an admin area where you can require a modern browser.

Good news though - it seems Firefox has "moz-clip-path" so it sho

[2016-02-08 13:23] DPr00f commented on #18
I took a look at this one. It seems that firefox supports clip-path but the element needs to be on the screen. I'll give it a go later on.

[2016-02-09 10:55] DPr00f commented on #18
Refers to https://github.com/DominicTobias/react-image-crop/pull/20
Will be fixed in the upcoming version.

[2016-02-09 10:55] #18 closed

[2016-02-25 14:38] chrise86 opened #21 "Strange overlay issue"
In my app I'm getting an issue when selecting large images, where the crop doesn't match the highlight:

![screen shot 2016-02-25 at 14 33 47](https://cloud.githubusercontent.com/assets/616956/13322583/fdec85e6-dbcc-11e5-8afb-f09b4ecdffde.png)

I have set:

[code]

...and have tried all sorts of combinations for crop params. Also, how do I go about selecting the default selected crop to be either

[2016-02-25 14:42] DominicTobias commented on #21
Hi can you upload that image somewhere and link it, and let me know what browser/version you're using? And are you using 0.1.1 from npm, or the latest master?

[2016-02-25 14:49] chrise86 commented on #21
Actually using it in a Meteor app so using this: https://github.com/praneybehl/meteor-react-image-crop which is a wrapper around this package - guessing it's not up to date :(

Browser is Chrome OSX 48.0.2564.116 (64-bit)

Image: http://imgur.com/5WkvIDL

[2016-02-25 15:02] DominicTobias commented on #18
Published

[2016-02-25 15:05] chrise86 commented on #21
I've forked, updated (to npm version 0.1.1) and included the forked package in my app and still having same issue:

https://github.com/chrise86/meteor-react-image-crop/tree/react-image-crop-0.1.1

[2016-02-25 15:05] DPr00f commented on #21
Hey @chrise86 can you try changing the css?
[code]

Seems to me that you're changing the width of the image but not the copy of it.
Let us know if that fixes it.

[2016-02-25 15:06] chrise86 commented on #21
Nice! That works, thanks!

Any idea about the other point?

[2016-02-25 15:17] DPr00f commented on #21
You could preload the image and decide then what to do.
[code]

and on your render you could do
[code]

Now you could pass the crop variable into ReactImageCrop

This is just a suggestion, I'm not sure it would work for you or not, but give it a go.

[2016-02-25 15:32] DominicTobias commented on #21
Thanks @DPr00f, I've published a 0.1.3 version which has `max-width` already set to 100%, and also `onImageLoaded` passes a second arg - `image` (the DOM element of the image). So you should be able to do the first part of the code @DPr00f posted in that callback. Let us know how it goes.

[2016-02-25 15:32] #21 closed

[2016-02-25 15:33] chrise86 commented on #21
Brilliant thanks!

[2016-02-25 15:57] chrise86 commented on #21
Sorry, I must be missing something, how do you capture the cropped image? I.e. how would I then upload the cropped image to somewhere like S3?

[2016-02-25 16:08] DominicTobias commented on #21
@chrise86 this tool (like others) is just for selecting a crop - the actual cropping is normally done by a backend when the crop parameters are sent over. There are some services which offer specifically that e.g. https://www.imgix.com/ but normally backend languages like java or node had libraries which can do it too

[2016-02-25 16:12] DPr00f commented on #21
The library doesn't have any code for upload. Although you could pick up the base64 and send it for S3.
Take this as an example
[code]

Please note than my crop object contains the `originalImageWidth` and `originalImageHeight` so you need to workout those yourself, also it might contain a `maxWidth` and a `maxHeight`

and here's my code for the upload of the base64

as an action I have
[code]

an

[2016-02-25 16:17] chrise86 commented on #21
Wow thanks very much, I'll need some time to look this over! I think my main issue was not really knowing how to grab the image (with the new crop dimensions).

[2016-02-25 16:19] DPr00f commented on #21
If you're doing cropping on the frontend you should really keep the image info.

[2016-02-27 03:48] EliRibble opened #24 "Internal element state overrides updating props"
My use-case may not be normally covered by react-image-crop, but it seems like a normal workflow. I want to create a crop widget and occasionally update the crop parameters based on saved data on a server. This means I need to set the `crop` property once, then some time later set it to something else. It appears that the internal `crop` state is overriding the property at:

[code]

This means tha

[2016-02-27 08:44] DPr00f commented on #24
I really don't get why you assume that the internal state prevents the workflow you mentioned.
Please check the method `componentWillReceiveProps` you can tell at that point that the crop state will be updated with the new values.
I agree it might not be the best solution, but it works.

[2016-02-29 03:00] EliRibble commented on #24
I’m not assuming - that was my experience when using the component in my application. When I have time I may throw together a minimal app that reproduces the problem.

[2016-02-29 09:33] DPr00f commented on #24
Ah, I didn't realise that was your experience. I thought you you just
wanted to discuss it. How are you updating it now then? You changed the
crop state to be a prop?
On 29 Feb 2016 3:00 am, "Eli Ribble" <notifications@github.com> wrote:

[2016-02-29 11:07] DominicTobias commented on #24
It's supposed to work - i.e. if the parent component re-renders and the crop prop is different then it should update. Feel free to paste the parts of relevant code.

[2016-02-29 17:07] bhough commented on #24
I've also had the issue. The problem resides in the `getInitialState` method. The newProps are spread across the existing state using Object.Assign. The order that the properties are assigned causes new props to be overwritten by existing ones if they are already present in the state.

I created a PR that rearranges these so that the new props are always assigned last, thus overriding existing val

[2016-02-29 17:14] DominicTobias commented on #24
Thanks for spotting the issue @bhough, I'll take a look now

[2016-02-29 17:21] DominicTobias commented on #8
@DPr00f do you know the use-case for merging in the current crop (`this.state ? this.state.crop : {}`) with `props.crop`? My concern is that the props.crop might be omitting some values on purpose and then the current crop will fill those in which might be unintended

[2016-03-02 16:35] DominicTobias commented on #24
Released under 0.1.5

[2016-03-02 16:35] #24 closed

[2016-03-25 17:53] ddaza opened #29 "Babel5 Builds break in the latest change."
There is still a lot of us that haven't switched from Babel5 to 6.
The latest [commit](https://github.com/DominicTobias/react-image-crop/commit/32c81a4838065c3c6344492e10358735ee3fee46)  broke all my builds and I get this error:
[code]
Please consider doing something like this:
[code]

I've tested it and can confirm that this works in Babel 5.

[2016-03-25 18:08] DominicTobias commented on #29
Thanks @ddaza, that makes sense I'll test it now

[2016-03-25 19:02] DominicTobias commented on #29
@ddaza Please try version 0.1.9 and let me know if that fixes your issue.

[2016-03-25 21:30] ddaza commented on #29
:+1: it works! thanks.

[2016-03-25 21:47] DominicTobias commented on #29
Cool - thanks for checking

[2016-03-25 21:47] #29 closed

[2016-04-04 19:37] Janekk opened #30 "Calling toDataURL on network image crop"
Assuming I will to initialize the cropper with some image URL and I want to be able to edit it (meaning to crop the image and call canvas.toDataURL based on the cropped image). The problem is, I will get

[code]

while calling `canvas.toDataURL` because the server didn't send `"Access-Control-Allow-Origin: *` response header. In order for the server to send such header I need to load the image wit

[2016-04-04 20:28] DominicTobias commented on #30
I'm trying to understand what you're doing with `ReactCrop--image-copy` - are you editing the image live as they are changing the crop or something, and also using a remote image url?

[2016-04-05 12:14] Janekk commented on #30
Basically my goal is to be able to send the cropped image to the backend and I'm doing it by loading the cropped image area onto `canvas`, reading it to `dataURL` format and sending that base64 payload to the backend.

But after some considerations I decided to implement this in my wrapper component, no need to bloat the  `react-crop-image` compoentent here. So I'll close this issue now :) Thank y

[2016-04-05 12:14] #30 closed

[2016-04-05 12:24] DominicTobias commented on #30
Cool glad you found a solution 👍

[2016-04-23 13:26] yury-dymov opened #31 "Initial crop selection is lost after focus is changed to another input in case user haven't changed the crop selection"
Hello, first of all thank you for very nice library.

I am facing issue with following workflow:
1) User selects image file from his or her computer to input with file type
2) Initial image is loaded as blob to react-image-crop, which is rendered only after image is selected
3) I would like to have only squared images, therefore I am showing crop rectangle right after image is shown with aspect=1

[2016-04-24 01:12] jmancherje opened #32 "How to access the cropped image?"
Is there an elegant way to take the cropped state and access the cropped image? I would like to crop the image and submit the cropped image to a server and subsequently send to amazon S3 for storage. How can I access the image after cropping to attach to an ajax request?

[2016-04-24 02:24] jmancherje commented on #32
I think I may have misunderstood the expected use of this library, with my use case above, would it be best to send the image and the crop object to the server and actually crop the image on the server with a image processing library?

[2016-04-24 10:34] DominicTobias commented on #32
The traditional approach is to do it server side, however it is achievable on the client. I believe that @DPr00f has done that https://github.com/DominicTobias/react-image-crop/issues/21#issuecomment-188857644

To summarise -
- When the crop changes (onCropComplete) you need to create the cropped image on a canvas element. You can get a reference to the image from onImageLoaded(crop, image) (2nd p

[2016-04-24 12:16] DominicTobias commented on #31
Hi @yury-dymov, I'm having trouble replicating this. What are you passing in `initialValue`? Your code would be a little simpler/more efficient if it was attaching the crop state to `this.state.crop` (no need for destructuring then). Also unless you need to update the state each pixel change as the crop is being dragged it's usually ok to just update the state in `onCropComplete`.

My guess is tha

[2016-04-24 14:05] yury-dymov commented on #31
@DominicTobias, thank you for response.

I figured out following:
1) I uploaded 200x400 image (it should be not a square image)
2) My initialValue is {x: 0, y: 0, width: 100, height: 100, aspect: 1}
3a) If I change initialValue to {...,width:30, height:30, ...} everything works fine.
3b) If I change initialValue to {...,width:90, height:90, ...} everything works fine but aspect is broken after per

[2016-04-24 14:37] DominicTobias commented on #31
Thanks for the extra details - interesting, sounds like a bug to me I'll take a look

[2016-04-24 18:38] DominicTobias commented on #31
I fixed at least one of the issues - are you still have more issue with upgrading to `1.0.0-rc2`?

[2016-04-24 18:49] DominicTobias commented on #31
P.S. There are some gotchas when specifying both the width and height with a fixed aspect as this is using percentages - for example 90% & 90% on an image that isn't square would mean that the crop couldn't be square so it has to adjust one of the values. Actually I noticed that at the moment it's adjusting both of them so I need to look into that.

[2016-04-24 23:57] yury-dymov commented on #31
@DominicTobias for my case both issues are resolved. Thank you!

[2016-04-25 08:15] DominicTobias commented on #31
Ah great!

On Monday, 25 April 2016, Yury Dymov <notifications@github.com> wrote:

[2016-04-25 08:47] #31 closed

[2016-04-26 04:36] jmancherje commented on #32
Thank you for the info. I followed your first comment and did the cropping server side with Jimp, works great. Love the component. Feel free to close this issue

[2016-04-26 04:37] #32 closed

[2016-05-02 13:27] projecteon opened #34 "Crop overlay does not work in IE (Edge) nor FF."
Seems to be an issue with the use of clip-path: url(#clipping);
Might be missing svg elements to make this visible.

[2016-05-02 13:34] DominicTobias commented on #34
Hi what version of the component are you using? (It was supposed to have been fixed for FF). I need to check if Edge has compatibility with the css properties used, perhaps it can be fixed with `-ms-` prefix but only if it existed in E11 already. The alternative to not using CSS is ugly and less performant (moving 4 boxes around) so I opted for this as usually on admin systems you can enforce brow

[2016-05-02 13:59] projecteon commented on #34
Some small test code. Removing the svg tags around image makes the clip path fail in Edge. I haven't tried IE11. Our application needs to run on all major browers.

For our use I had to do some modifications to the current used code (might have to do more, not sure atm). Hence no example using the react component directly.

`<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<he

[2016-05-03 09:28] DominicTobias commented on #34
Are you wrapping the cropping inside of the `image` component? It's hard to know what's going wrong because the current version (and a few before) work with Firefox (just tested on v46 on Mac), I think it's pretty unlikely that it wouldn't work on the windows version of FF. As for Edge I can't say as I don't have a Windows machine - if you clone this repo and open `demo/index.html` in Edge (no nee

[2016-05-10 06:02] projecteon commented on #34
Ok, I got the demo to work in FF but not in IE.

I think the issue I had with FF was my refactoring to use canvas as a base for image viewing instead of image, and I guess FF does not support polygon over canvas but do to img tags. Shame :/

[2016-05-12 09:44] DominicTobias commented on #34
H yeah I don't think there's a solution other than using 4 moving boxes, I'll think about it implementing it

[2016-05-13 15:08] DominicTobias commented on #34
I have tried the alternative of 4 moving boxes (see above PR) and I would have been happy to implement it. But the problem is that unlike most cropping tools this one is based off percentages - this has some advantages like being responsive but it also means that when setting percentages on the 4 boxes there can sometimes be a 1pixel miscalculation meaning the a box overlaps or underlaps by 1px. T

[2016-05-26 06:00] echojc opened #36 "Setting aspect and just one of width or height won't show crop selection"
Hi, I'm not sure if this is by design, but the following example in the readme:

[code]

won't display the crop selection because `height` is falsy, which sets `this.cropInvalid` to true.

However, later on in `ensureAspectDimensions`, since `width` and `aspect` are both set, the value for `height` becomes fixed to something valid anyway, and the same if only `height` and `aspect` are set. Because

[2016-05-27 14:02] DominicTobias commented on #36
Hi, that's interesting - good point it should not be invalid - just to be clear is it affecting the crop (like not being drawn out?) If so might be a regression

[2016-05-29 04:18] echojc commented on #36
Yeah, the crop selection isn't being drawn out if you just set `width` and `aspect`.

[2016-05-29 09:43] DominicTobias commented on #36
Actually I can't reproduce this - the initial render happens with invalid params, but then once the image has loaded `ensureAspectDimensions` should get called and the crop becomes valid

<img width="551" alt="screen shot 2016-05-29 at 10 42 37" src="https://cloud.githubusercontent.com/assets/760314/15632469/342dcf28-258a-11e6-8bc2-0468882bda22.png">

[2016-05-29 09:56] echojc commented on #36
Ah, I think I'm setting the crop from the `onImageLoaded` callback because I need the natural image dimensions to calculate the corresponding percentage values for specific width/height sizes.

I'm not sure if that is why I'm not getting the crop; I'll try to find and post a minimum repro tomorrow. Thanks for looking into it!

[2016-05-29 10:01] DominicTobias commented on #36
Np, ah ok - that is supposed to still work but I'm able to reproduce the issue now so will take a look why it isn't

[2016-05-29 10:11] DominicTobias commented on #36
This should be fixed now please try `1.0.0-rc3`, closing but let me know if there are any probs

[2016-05-29 10:11] #36 closed

[2016-05-29 23:49] echojc commented on #36
I've confirmed it works, thanks for your work!

[2016-05-30 10:57] DominicTobias commented on #34
Closing this as it seems like 4 moving boxes isn't going to work with percentages, I hope IE Edge will get clip path support in the near future. I've added a browser compatibility section to the readme. Sorry about that!

[2016-05-30 10:57] #34 closed

[2016-06-03 00:49] CanadaJ opened #37 "Aspect ratio in Chrome throws console errors"
I'm using the latest (1.0.0-rc3) version of react-image-crop with the following crop attributes:

[code]

and I'm receiving the following error in the Chrome console:
`Error: <polygon> attribute points: Expected number, "0 0, 1 0, 1 NaN, 0 NaN".`

Interestingly enough, this error has no effect on the crop. Everything works as expected, the aspect ratio is locked, the height, width, and coordinates

[2016-06-03 07:56] DominicTobias commented on #37
Hi, that's strange I'm not getting the same error with those params on OSX Chrome 50.0.2661.102 (64-bit) or 51.0.2704.79 (64-bit). What Chrome version are you using?

[2016-06-07 07:04] projecteon commented on #34
I actually had the clip boxes working ok, but the shadow layover is what was not working.
![your_gif_from_mp4togif_com_1465283041442](https://cloud.githubusercontent.com/assets/2820276/15848704/d6dd3e7e-2c8e-11e6-8e94-a2715295ec86.gif)

[2016-06-17 11:48] msalsas opened #38 "minWidth and minHeight"
Hi, I was trying your awesome component and all seems to work great except the `minWidth` and `minHeight` options. Looking at the code I see in ReactCrop.jsx at line 476:

    clamp(num, min, max) {
        return Math.min(Math.max(num, min), max);
    }

used at line 171 with `minWidth` option:

    newWidth = this.clamp(newWidth, this.props.minWidth || 0, maxWidth);

and at 196 with `minHeight`:

[2016-06-17 12:01] msalsas commented on #38
Oh! What a mistake! Sorry, I was using `minWidth` and `minHeight` as `crop` parameters instead of as a `props` directly.

[2016-06-17 12:01] #38 closed

[2016-06-17 12:03] DominicTobias commented on #38
Hehe glad it worked! Let me know if there are any probs

On Friday, 17 June 2016, Manolo Salsas <notifications@github.com> wrote:

[2016-06-17 13:11] DominicTobias commented on #37
Closing but feel free to update

[2016-06-27 21:24] vjameson opened #39 "Crop overlay not showing in Chrome"
Issue doesn't seem to depend on crop parameters.

I'm on  51.0.2704.103

[2016-06-28 08:26] DominicTobias commented on #39
What crop parameters are you getting this issue on?

[2016-06-28 21:17] jereddanielson opened #40 "Crop lost when parent state changes"
I have a ReactCrop component inside of another component within my app, and without fail whenever I change the state of the parent component with setState(), the ReactCrop component seems to reset and lose its crop box. I am not changing any of the props or state related to the ReactCrop component, the state I am changing is completely unrelated. I've tried adding a unique key to the ReactCrop com

[2016-06-29 18:02] AM-NiceDay opened #42 "When I pass onChange or onComplete visual effects don't work"
When I pass onChange prop, then I don't see selected area while moving cursor. And when I pass onComplete prop, then selected area disappears when I end selection.

[2016-06-29 19:59] DominicTobias commented on #42
I can't replicate this, are you sure you're not manipulating the crop in these callbacks? Please post some code or even better a demo

[2016-06-29 20:01] DominicTobias commented on #40
Hi, can you post your code? It sounds like something related to your parent code

[2016-06-29 20:11] jereddanielson commented on #40
Sure. I even initialized a new project that's as simple as can be.

`import React, { Component } from 'react';
var myImage = require("../assets/praisethesun.png");

var ReactCrop = require("react-image-crop");
require("../../node_modules/react-image-crop/dist/ReactCrop.css");

export default class App extends Component {
	render() {
		return (
			<div className="container">
				<h1>Hello, World!</

[2016-06-29 20:43] DominicTobias commented on #40
Thanks I'm able to replicate it, pretty bad regression :o taking a look now

[2016-06-29 21:25] #40 closed

[2016-06-29 21:26] DominicTobias commented on #40
Note: need to test something related to the build before I release this tomorrow

[2016-07-04 08:59] johneriksson opened #45 "Width does not go up to 100% when using aspect ratio"
This is not a huge problem in my case, but it's bugging me =)

When an aspect ratio is set (for example 16/9), the width will not go up to 100% when you maximize the crop area. Instead I get values like 99.999999999... I'm guessing the height has a higher priority in the aspect-ratio-check or something?

[2016-07-04 09:02] DominicTobias commented on #45
This is probably a browser rounding issue - the nice thing about percentages is that they're responsive, but unfortunately the browser sometimes doesn't perfectly do it. Anyway I'll check to verify but I have a feeling there's nothing that can be done (except maybe rounding up if it looks like it should be doing it)

[2016-07-04 09:07] johneriksson commented on #45
Yeah, I was using Chrome earlier but I just tested in Safari and it rounds to 100.

[2016-07-04 09:09] #45 closed

[2016-07-04 09:22] echofoxxx commented on #42
I can confirm and reproduce a part of this issue. When onComplete is passed to `ReactImageCrop`, the cropped are stays fixed according to the initial crop state passed.

    class Changer extends React.Component {

        state = {
            currentCropState: {}
        };

        handleOnComplete = (crop) => {
            this.setState({currentCropState: crop});
        }

        render() {

[2016-07-04 09:42] DominicTobias commented on #42
The problem is that you are calling `setState` in onComplete, which causes a re-render, and you are statically setting the crop to `crop={{height: 100, aspect: 1}}`.

Instead you should assign the crop to a variable (or state) e.g.

[code]

[code]

[code]

[2016-07-04 12:47] echofoxxx commented on #42
I see. It works now.

But, just out of curiosity, since my `onComplete` handling is not making any change that affects the state of `ReactImageCrop`, then `ReactImageCrop` shouldn't be getting re-rendered right?

[2016-07-04 13:11] DominicTobias commented on #42
By default react components will re-render unless something is implemented in shouldComponentUpdate - so fair point, maybe I'll implement something there.

Although a typical shallow compare won't work because your crop object is created on each render, so even though the values are the same `crop !== crop`.

[2016-07-04 15:46] echofoxxx commented on #42
Since change of any property of `crop` object leads to change in multiple properties, it would make sense to check if any property in the new `crop` property is different from the current `crop` state. If no property has changed, then perhaps `return false` from `shouldComponentUpdate`?

[2016-07-04 16:51] xialvjun opened #46 "propTypes src is not string only, it can be object too"
as the title, it can be a File object

[2016-07-04 17:06] #46 closed

[2016-07-09 09:31] arendjr opened #48 "It appears RC4 has broken non-ES6 require() calls"
I just upgraded to RC4 and noticed when doing `require('react-image-crop')` I get back an object with a `default` property, rather than the ReactImageCrop component as I would expect. I think this is the result of using an ES6 `export default` construct, which unfortunately doesn't transpile well to old-fashioned require() calls.

PS.: Thanks for your great work!

[2016-07-24 11:02] #48 closed

[2016-07-29 16:35] DominicTobias commented on #39
Closing due to inactivity

[2016-07-29 16:35] #39 closed

[2016-08-10 06:27] kshitijbahul opened #52 "Fixing the Crop size but allowing the user to position the crop"
Hello, I was having a look at this component and I was wondering if it would be possible to fix the size of the crop but allowing the user to position the crop anywhere on the image ? The `minHeight` and `minWidth` property allow us to do this in part but the user would still be able to increase the crop.

Will it be possible to achieve this in the current state of the component or would it need a

[2016-08-10 08:49] DominicTobias commented on #52
Hi, it may be possible to limit the width from the parent by modifying the values in onChange and re-rendering the component, however that sounds like a hack and might not work/be efficient. Having `maxWidth` and `maxHeight` props sounds reasonable though so I'll add them in the next week.

[2016-08-13 12:59] DominicTobias commented on #52
Released in rc7

[2016-08-13 12:59] #52 closed

[2016-08-17 10:10] theLordz commented on #42
Confirm this problem still exists when calling setState in onComplete.

[2016-08-17 12:25] scriptype commented on #37
@CanadaJ I was having this issue. I later found that I was accidentally passing `"1:1"` for the aspect, instead of `1/1`. I suggest checking everything twice.

[2016-08-22 05:10] kshitijbahul commented on #52
Thank you so much for this feature in the awesome plugin @DominicTobias  :+1:

[2016-08-23 10:19] thchia opened #55 "Overlay in Safari"
Hi,

I'm having issues with the crop box not showing on Safari (9.1.2).

Functionality is fine; I can drag and the crop box will appear, but it does not auto appear on loading even though I have defined the crop settings.

No issues on Chrome so it's definitely a Safari issue.

[2016-08-23 13:23] DominicTobias commented on #42
I can also confirm I can replicate this bug too so I'll look into it

[2016-08-23 13:56] DominicTobias commented on #42
@theLordz are you using the `outputPixelUnits` option? Or otherwise you are ensuring that you are binding the callback or using an arrow function so that `this.setState` is not throwing an exception?

This is only happening for me with `outputPixelUnits` due to the crop needing percentages not pixel units.

[2016-08-23 14:00] DvirH opened #56 "Limit crop container element to max height"
I can limit the container div to max-width but no to max-height.
For example if my crop container has to be 300px * 300px, I want to be able to fit the image by its ratio.

How can I  manage this?

[2016-08-23 14:35] DominicTobias commented on #42
What is happening is that you are not setting the crop state, thus when you call `this.setState` it is triggering a render and ReactCrop is being passed your original crop state instead of the new one.

When using `setState` in any of the callbacks you must ensure that you also set the new crop state, i.e. `this.setState({ something: true. crop })`

If your are using `outputUnitsInPixels` this won

[2016-08-23 14:35] #42 closed

[2016-08-23 14:40] DominicTobias commented on #55
Thaks I'm able to replicate this and will look into it

[2016-08-23 14:50] DominicTobias commented on #55
Actually I take that back - I'm unable to replicate this - are you sure you are passing a valid crop? What crop values are you using?

[2016-08-23 15:04] DominicTobias commented on #56
@DvirH not quite sure what you mean - can you post the props/crop you are using as well as a link to the image please?

[2016-08-23 15:21] DominicTobias commented on #55
@thchia can you post a link to the image (in original size) and also the values of this.state.x/y/width please?

[2016-08-23 15:25] #56 closed

[2016-08-23 15:25] DvirH commented on #56
Partial solved with css

[2016-08-23 15:25] thchia commented on #55
The image is one uploaded from my local computer, it's not currently hosted anywhere. The issue is present with other uploaded images too.

The values are:

`this.state.x: 10,`
`this.state.y: 10,`
`this.state.width: 80`

[2016-08-23 15:30] DominicTobias commented on #55
I still can't replicate this in OSX Safari 9.1.2 - here are my crop values:

[code]

Using this image: https://postimg.org/image/ffs255dpd/

Let me know if you are having the issue with those values and image. If so I'll need to see more code as the problem might be somewhere else.

[2016-08-23 15:30] DvirH opened #58 "Crop doesn't hide even if keepSelection set to false"
I tried to create a toggle button of crop mode.
When I select an area and click outside on the toggle button I disable the crop, but the selection is still active. Is there anyway to workaround this?

[2016-08-23 15:37] DominicTobias commented on #58
I think you are confused about the behaviour of these two options:

keepSelection - this stops the crop from disappearing if the user clicks outside the crop (somewhere on the image)

disabled - this stops the user from being able to modify the crop, but it doesn't hide or destroy the crop

If you want to temporarily hide it then I recommend using css, try this:

[code]

[2016-08-23 15:37] #58 closed

[2016-08-23 15:41] thchia commented on #55
Ok, the issue seems to be the way I'm setting the src prop.

What I'm trying to do is let the user upload an image (via an input file element), and crop it _before_ uploading the cropped image to the server. Because there is no access to the local file path from the web app, my workaround was to read the file as a DataURL and store the result in React state. Then I set the src prop as `this.state.

[2016-08-23 16:25] DominicTobias commented on #55
Hm interesting, sounds like possibly a browser bug, there were some similar
sounding issues with Safari I'll check it out

On Tuesday, 23 August 2016, thchia <notifications@github.com> wrote:

[2016-08-24 13:11] riccardolorenzon opened #59 "Pixel coords for the image crop"
Apparently the additional parameter `pixelCrop` of `onChangeComplete` is always `undefined`.

And also, is there any way to set the crop on pixel units? Instead of converting it from pixel units to percentage every time in order to use it?

[2016-08-24 18:14] DominicTobias commented on #59
Hi @riccardolorenzon updating the README was confusing because that version isn't released yet. RC7 only passes the normal crop object. If you want it to pass pixels then your should also pass the `outputPixelUnits` prop. At the moment there is no way to pass pixels in because it would require another property or for values to specify a unit e.g. instead of `220` it would be `220px` as there is no

[2016-08-25 08:08] riccardolorenzon commented on #59
hi @DominicTobias, thank you for the quick reply.

Any suggestions on how to get the natural height and width of the image without loading it again?

[2016-08-25 11:13] riccardolorenzon opened #61 "minHeight and minWidth not working"
Hi,

i set the minHeight and minWidth arguments(in percentage) expecting the component to force a minimum crop area but apparently it does nothing. Any suggestions on how to use that?

[2016-08-25 18:29] DominicTobias commented on #61
Hi are you using the latest version? Also post what props you are passing to the component please

[2016-08-26 08:52] riccardolorenzon commented on #61
Hi,

I'm using the v1.0.0-rc8.

The props i pass to the component are:
`
src={this.props.src}
onImageLoaded={this.onImageLoaded}
onComplete={this.onCropComplete}
crop={crop}
outputPixelUnits={true}
`

where `crop` has these fields:
`
crop.x = this.props.imageState.x / naturalWidth * 100;
crop.y = this.props.imageState.y / naturalHeight * 100;
crop.height = this.props.imageState.height / naturalHei

[2016-08-26 09:01] riccardolorenzon opened #62 "Access-Control-Allow-Origin"
Hi,

Sometimes(i can't reproduce it though) i get a CORS exception while loading the image in the canvas, as result the image is rendered(with the crop) in a very small square area.
All the images i use are loaded from a S3 bucket(i already added the CORS configuration to it).

Am i the only one who is having this issue?

[2016-08-26 09:02] riccardolorenzon commented on #59
I used the natualHeight and naturalWidth img properties: http://www.w3schools.com/jsref/prop_img_naturalheight.asp

[2016-08-31 12:40] DvirH commented on #62
I found a work around by loading the image to an element with ` image.setAttribute('crossOrigin', 'anonymous');` and blob it into the cropper.

[2016-09-02 12:37] DominicTobias commented on #62
Thanks for the fix (merged), will hopefully publish v1.0.0 over the weekend with this fix in it

[2016-09-02 12:37] #62 closed

[2016-09-02 12:39] DominicTobias commented on #61
@riccardolorenzon rather than passing the minHeight/maxHeight into the crop object, pass it as a prop - e.g.

[code]

[2016-09-06 22:16] adelespinasse opened #64 "Circular crop is flaky"
Create a ReactCrop with crop.aspect=1 and ellipse=true. Try shrinking and growing the circle. At some point when the circle is small and you're trying to make it larger, it will suddenly invert around its upper handle and/or become very small.

[2016-09-07 07:31] DominicTobias commented on #64
Hi I'm not sure whether I'll try and fix it or deprecate it, it was added via PR from someone but feels extraneous to the core API and never sat well with me. I'll take a look and see if I can replicate this issue but I'm unlikely to add more complexity to the code to try and fix it (more likely to remove complexity from the code by removing it entirely - sorry!)

[2016-09-07 13:18] adelespinasse commented on #64
@DominicTobias Would you consider keeping it if I submitted a PR to fix it? I haven't looked at the code at all, but I might consider it.

[2016-09-07 14:42] littleiffel opened #65 "Passing crossorigin attribute as props"
Hi,

the use of crossorigin=anonymous is not a good default for our use case, as we require credentials to retrieve the images.
Thanks

[2016-09-07 18:59] DominicTobias commented on #65
Thanks @littleiffel

[2016-09-07 19:00] DominicTobias commented on #61
Closing - let me know if you have probs with that fix

[2016-09-07 19:00] #61 closed

[2016-09-09 10:18] DominicTobias commented on #64
Feel free to try, but you might find it tricky, also since this is just a visual change I would be surprised if the jumping didn't happen for rectangles. IIRC this should only happen when drawing a new shape but I'll have a try and see if I can replicate when I have some time in the next week.

[2016-09-14 06:21] DominicTobias commented on #65
Thanks this is now in 1.0.2

[2016-09-14 06:21] #65 closed

[2016-09-15 22:47] OKNoah opened #69 "Start initialized with default crop area?"
Would be great to have the component load with a crop already in place.

[2016-09-16 11:21] DominicTobias commented on #69
Hi you can already start with a crop - see the crop option - https://github.com/DominicTobias/react-image-crop#crop-optional

[2016-09-16 11:21] #69 closed

[2016-10-05 04:58] yanickrochon opened #70 "Initial crop props does not seem to work"
I initialize the component like this

[code]

However the selection is not visible on the image (the image is well over 600 x 600). And when the user clicks outside a selection, the selection is discarded.

[2016-10-05 05:22] yanickrochon commented on #70
For the `top`, `left` and `width` part, I think I get it, now; the values are relative to the current rendered image (responsive), and not the actual image's dimension. This is confusing, and I presumed that `onChange`, `onComplete`, etc. had their arguments reversed; where `crop` was the actual and proportional to the actual image's source dimension, and `pixelCrop` was the scaled (i.e. responsiv

[2016-10-05 16:07] DominicTobias commented on #70
Crop dimensions are set as percentages - so you just set a crop with a width of 100% and a height of 100% (due to an aspect of 1) - so the crop should be filling the whole image - are you sure that isn't happening? I'm currently travelling so can't test with the values you provided yet.

`pixelCrop` is an argument in the callback for your convenience, giving the crop values converted from percenta

[2016-10-05 16:37] yanickrochon commented on #70
OOOoooohhh!!!!

That makes sense :stuck_out_tongue: I was trying to make sense of the values I got, and couldn't figure it out, I overlooked that possibility. Right, I re-read the docs and it is specified, indeed.

Nothing to see, here!

[2016-10-05 16:37] #70 closed

[2016-10-11 22:20] ouchxp commented on #37
I was having this issue then found that I was passing string `"1/1"` not the number `1/1` which is `1`

[2016-10-12 00:48] ouchxp opened #71 "Cropping output does not meet `aspect`"
I'm trying to crop a relatively large image 2832 × 1602, and I set the aspect to `1/1`. But the `pixelCrop` I got after cropping is `Object {x: 0, y: 0, width: 1600, height: 1602}`.  Width and height are not consist with the `aspect` I set.

I checked the ReactCrop source code, seems `pixelCrop` is calculated from percentage values `width` and `height`, and the `width` and `height` are wrong as we

[2016-10-13 07:29] DominicTobias commented on #71
Thanks, I would have thought it was a floating point inaccuracy because I'm using percentages, but looks like from your fix you are making sure that the width and height doesn't exceed 100, I'm surprised because I thought I was already ensuring that!

[2016-10-13 07:47] ouchxp commented on #71
You are right, you did ensure that. But my code is re-calculating width from height / height from width using aspect, did not use height or width from the parameter. So I have to add check for it.

[2016-10-27 17:44] stephenburgess8 opened #73 "Cannot pass styles props to images"
I am looking to create a cropper which will be able to zoom an image via css while not scaling the selection marque. I would like to be able to pass a property of css styles which will be applied to the image behind the marque. Then, when the image is cropped, it will identify the correct portion of the image to crop and pass the updated pixel values in the callback. On first pass, I thought it ma

[2016-10-28 00:53] grrowl opened #74 "onChange not called when passed updated prop `crop.aspect`"
In our application, we allow the user to set an aspect ratio. When we re-render the ImageCrop with the new aspect, the cropped area changes to match the new aspect ratio, but neither the `onComplete` or `onChange` callbacks fire (which is fair enough)

At the moment we can access the new crop using a reference to the component via `this._imageCropper.state.crop` in the `aspect` setState callback,

[2016-10-29 15:31] DominicTobias commented on #74
I'm trying to understand what you are trying to do - you want to know if the user changes the aspect ratio? Could you not do this in the component where they are modifying the aspect?

[2016-10-29 15:34] DominicTobias commented on #73
Hi is this zooming feature always zooming from the centre of the image? So if they clicked a [+] button for example the image zooms in and the edges disappear off view but equally on the left and right, and top and bottom?

[2016-10-31 23:27] stephenburgess8 commented on #73
Dominic, I am still trying to identify exactly what behavior I am looking for.

What I was hoping to do would be to apply a style to only the images to scale them while keeping the marquee size the same. The kind of behavior I'm trying to duplicate can be seen on Facebook or Twitter with avatar pictures. The marquee stays the same size while using a UI slider to increase zoom scales the image. The

[2016-11-01 23:46] grrowl commented on #74
If the user changes the aspect ratio outside of the component (and having this passed through to the component on a new render as a result of a setState call), I want to know if that new aspect ratio changes the dimensions of the crop. Hard to explain, hopefully this video clears it up:

![goat crop](https://cloud.githubusercontent.com/assets/907140/19911608/afc72df8-a0e8-11e6-956b-7ca479742afe.gi

[2016-11-07 13:19] DominicTobias commented on #74
Sorry for the slow response - ah yeah I see what you mean as it's internally recalced. Yep I was also thinking about a potential double render, so as you originally suggested a new event might be the way forward. If you want to make a PR for `onAspectRatioChange` feel free to, I can't see it being a being a problem

[2016-11-08 14:08] DominicTobias commented on #73
I'd have to experiment, but I'd imagine you could keep the image centred and increase the dimensions so that the edges overflow out of the container. If you want to dynamically style the classes you can simple wrap the component in a div e.g. `<div classNames={myDymanicClasses}><ReactCtrop /></div>`

[2016-11-08 14:08] DominicTobias commented on #73
Something like the techniques here (though many are background images) http://codepen.io/search/pens?q=image+zoom&limit=all&type=type-pens

[2016-11-08 14:30] stephenburgess8 commented on #73
I was able to scale everything at once - the entire container for ReactCrop. However what I'd like to do is scale the image only, but keep the selection marquee the same size. What I'd like to do is able to pan the image behind the crop area after zooming the image. I'd like to be able to select the crop area, zoom into the image, and reposition the image behind a fixed crop area. What I may end u

[2016-11-08 17:05] paweljedrzejczyk commented on #74
I added `onAspectRatioChange` callback in #76

[2016-11-09 09:30] DominicTobias commented on #73
I don't see why it wouldn't be possible to just target the image with css but it's hard to know really without trying to do it!

[2016-11-09 13:47] stephenburgess8 commented on #73
On this line: https://github.com/DominicTobias/react-image-crop/blob/master/lib/ReactCrop.jsx#L777 is the first of the two images. Then following that is a div with the second overlay image as well as the crop marquee. When targeting the classnames `ReactCrop--image` and `ReactCrop--image-copy` (thank you for providing classnames on those, by the way) I am able to scale those, but the `ReactCrop--

[2016-11-09 22:41] DominicTobias commented on #74
Thanks, publish @ 1.0.4

[2016-11-09 22:41] #74 closed

[2016-11-30 17:34] andi-dev opened #77 "Css Animation of crop selection eats a lot of cpu"
Hey there,

I noticed (running in chromium on ubuntu) that the 2 ReactCrop instances on my page are eating up around 20% of each of my 4 cpus.

Digging deeper I finally found out that it's the css-animation (marching ants) on the .ReactCrop--crop-selection element that is causing my machine to sweat.

I'm not sure if its an issue with my particular setup or a general issue. Disabling the animation

[2016-12-01 08:38] DominicTobias commented on #77
That is interesting! I'll see if it is causing the same issues on my mac and if there is a way to optimise it

[2016-12-07 03:54] aaronshim commented on #64
Hi @adelespinasse, have you made any progress on this since? I'm running into a similar problem. Thanks!

[2016-12-07 17:18] adelespinasse commented on #64
@aaronshim It hasn't been at the top of my priorities. I just use a square crop. :/

[2016-12-19 21:54] shovemedia opened #78 "svg clipPath refuses to repaint in webkit"
My fix, hopefully temporary:

[code]

[2016-12-21 17:17] DominicTobias commented on #78
Hi is that mobile or desktop and what version? When I last checked this was working so it may be a regression or some specific combo I didn't check

[2016-12-22 12:45] shovemedia commented on #78
Chrome and Safari on Mac. Firefox was fine. Didn't check mobile.

[2016-12-22 14:35] DominicTobias commented on #78
@shovemedia Safari 9 or 10?

[2016-12-22 14:58] DominicTobias commented on #55
Closing this as it seems quite niche, hope it worked out

[2016-12-22 14:58] #55 closed

[2016-12-22 15:06] DominicTobias commented on #73
Yeah the crop is a percentage of the container (which is the size of the image). I guess you would have to transform the crop values in the parent relative to the expanded image dimensions so it gave the illusion of being in the same place (even if you just reduced the crop values). As for expanding the image itself I could look into using css transforms but I'm not sure if they can expand beyond

[2016-12-22 15:06] #73 closed

[2016-12-22 15:08] DominicTobias commented on #78
Just tested and works fine on Safari 10 on Mac, I'm pretty sure on 9 too. If you clone this repo, run `npm i && npm start` and then open `demo/index.html` in Safari do you have the issue? If not it could be caused by your code.

[2016-12-22 15:12] DominicTobias commented on #77
Sorry for the delay - I can replicate this issue on Mac too - interesting, will dig deeper

[2016-12-22 20:29] shovemedia commented on #78
My Safari is v9. Demo svg clippath works in both Chrome and Safari (although the programmatic state changes seem to throw JS errs?)

As it's clearly some kind of browser repaint bug, there's no telling what DOM-specifics are necessary to reliably reproduce the issue.

[2016-12-27 09:26] springuper commented on #62
`crossorigin=""` not works in Chrome 54.0.2840.98. can you provide a option not to set this attribute?

[2017-01-18 10:36] Grantlyk commented on #62
I'm currently having an issue with this, is anyone still having this issue?

[2017-01-18 12:09] DominicTobias commented on #62
Interesting, were you also trying to map the image on to a canvas?

[2017-01-18 13:41] Grantlyk commented on #62
Yeah, all that stuff is working fine though

[2017-01-18 14:46] DominicTobias commented on #62
Cool, so sounds like undefined should be the default as it used to be

[2017-01-18 17:29] Grantlyk commented on #62
Yup, that's what I was thinking -- Do you want to PR it or should I?

[2017-01-18 17:39] DominicTobias commented on #62
If you want to do it then great! I prob won't get around to it until friday/weekend cheers

[2017-01-19 20:31] joekur opened #81 "Disabling new drag crops"
Wondering if you think it would be suitable to add an option to disable resetting your crop by dragging on an unselected area of the image. Illustrative gif of what I'm talking about:

![drag-crop](https://cloud.githubusercontent.com/assets/1043396/22123808/c5eae000-de52-11e6-9605-ffc3fdcb8a09.gif)

A couple reasons I would like to disable this:
1. On mobile it is very easy to "fat finger" trying

[2017-01-21 21:25] DominicTobias commented on #81
Hi there is a way of disabling already - pass `disabled={true}` ;)

As for the jittery-ness - yeah when I was writing this I noticed the same behaviour on others too, happens when you cross over the vertical starting point (and possibly on the x axis too). I'd like to some day write a better algorithm for the crop but it's trickier than it seems and quite a pain!

[2017-01-27 08:38] fwchen commented on #37
Same issue. Has it been fixed?

[2017-01-27 09:30] #81 closed

[2017-01-27 09:32] DominicTobias commented on #64
Sorry to say but this feature is going away in v2 I'm releasing probably this weekend, as it's a feature I don't have time/inclination to get working properly and I want to remove bloat from the codebase. v2 has a couple of breaking changes but no major difference so feel free to carry on using v1 if you want it

[2017-01-27 09:32] #64 closed

[2017-01-27 09:33] #71 closed

[2017-01-27 09:35] DominicTobias commented on #37
I've changed the code for this but since it's a breaking change I'm going to v2 and making one or two other breaking changes too (such as removing the ellipses option). This weekend I'll also be trying to make an alternative to the "marching ants" (the moving dotted lines) before releasing this as using css linear gradients is eating a ridiculous amount of CPU

[2017-01-29 22:22] #37 closed

[2017-01-29 22:22] DominicTobias commented on #77
Fixed in v2.0.0

[2017-01-29 22:22] #77 closed

[2017-01-29 22:22] DominicTobias commented on #77
Fixed in v2.0.0

[2017-01-29 22:27] DominicTobias commented on #62
Fixed in v2.0.0

[2017-01-31 02:33] babsonmatt opened #85 "Module not found: Error: Can't resolve './dist/ReactCrop'"
Getting ```Module not found: Error: Can't resolve './dist/ReactCrop'``` after upgrading to latest just now

[2017-01-31 05:29] yury-dymov commented on #85
@DominicTobias, I installed the package and I can see that dist/ReactCrop.css is there and ReactCrop.js is missing. Seems you forgot to build the js according to the scripts section:

[code]

[2017-01-31 08:40] DominicTobias commented on #85
Thanks, that's strange I ran the release - will make a patch version

[2017-01-31 08:52] DominicTobias commented on #85
Released 2.0.2 - please let me know if that fixes your issue @babsonmatt

[2017-01-31 10:40] yury-dymov commented on #85
@DominicTobias, I checked new release, works fine

[2017-01-31 10:40] DominicTobias commented on #85
Cool tanks @yury-dymov

[2017-01-31 10:40] #85 closed

[2017-02-01 05:27] babsonmatt commented on #85
@DominicTobias all good! thank you!

[2017-02-14 18:50] LPayyapilli opened #86 "Crop selection window not sizing with highlighted area vertically"
This is an awesome tool. It works really well. However, I am experiencing an issue where when the image is uploaded and the crop selection default is put on top of it, the boundaries of the selection and the highlight do not match up. I also noticed that when you shift the selection vertically, the top attribute changes but it doesn't match the crop selection. This mismatching looks wonky.

crop:

[2017-02-14 19:02] DominicTobias commented on #86
Hi @LPayyapilli, thanks for the comments, could you upload that image somewhere and link it here? Just to be clear - this can be replicated without the uploading to server part?

[2017-02-14 19:07] LPayyapilli commented on #86
http://www.imgbase.info/images/safe-wallpapers/photography/cityscape/12341_cityscape_skyline.jpg
^^ thats the image

Yes this is all on the client. I do not believe it is related to the server, as I am not manipulating the crop object anywhere except the client/display.

On further investigation, this issue is limited to this size image. When I try smaller images, it seems to work fine. I'm not su

[2017-02-22 14:23] riccardolorenzon commented on #59
I just updated the component to the last version.

Is it now possible to specify the crop coordinates using pixels? i can't find that part on the docs.

[2017-02-22 14:50] DominicTobias commented on #59
Hi @riccardolorenzon no there isn't and there is no intention of adding this, most other cropping tools out there use pixels so if you prefer that you might be better off with them (it would complicate the code base too much to add support for both). The point of using percentages is so that when the crop is resized it is still correct (responsive) - there is no need to write an algorithm to detec

[2017-02-22 14:50] #59 closed

[2017-02-24 10:03] isaachinman commented on #37
I still get this error, with the following setup:

    <ReactCrop
      crop={{ aspect: 1, width: 100, top: 0, x: 20 }}
      src={photo}
    />

This is in `v2.0.2`.

[2017-02-24 18:14] DominicTobias commented on #37
Hm strange, I'll check it over the weekend - when you inspect do you see a
crossorigin attribute?

On Fri, 24 Feb 2017 at 10:03, Isaac Hinman <notifications@github.com> wrote:

[2017-02-24 18:26] isaachinman commented on #37
Sorry, inspect what? The actual DOM?

[2017-02-25 00:03] DominicTobias commented on #37
Yep!

On Fri, 24 Feb 2017 at 18:26, Isaac Hinman <notifications@github.com> wrote:

[2017-02-25 11:21] isaachinman commented on #37
In that case I'm not really sure what you're asking, but no - there is no immediately obvious DOM node with a `crossorigin` attribute.

[2017-02-25 11:31] DominicTobias commented on #37
Hey sorry, I probably shouldn't answer stuff when I'm drunk I'm a bar 😃 I
thought this was regarding a different issue. Are you getting the same
error as the OP? What does it say and what are you passing in as props?

On Sat, 25 Feb 2017 at 11:21, Isaac Hinman <notifications@github.com> wrote:

[2017-02-25 11:36] isaachinman commented on #37
**The error:**

`DOMPropertyOperations.js?17f3:142 Error: <polygon> attribute points: Expected number, "0.2 0, 1 0, 1 NaN, 0.2 NaN".`

**The config:**

    <ReactCrop
      crop={{ aspect: 1, width: 100, top: 0, x: 20 }}
      src={photo.preview}
      onComplete={this.setCroppingData}
      onImageLoaded={(crop, image, pixelCrop) => this.setCroppingData(crop, pixelCrop)}
    />

[2017-02-25 15:15] DominicTobias commented on #37
Hm I can't replicate using that crop prop. In `getPolygonValues(forSvg) {` function put `console.log(crop.x, crop.y, crop.height)`, I have a feeling your crop.height could be not a number

[2017-02-25 15:19] isaachinman commented on #37
Yes, that's it exactly. Seems that function is called a few times, one of which `crop.height` was `NaN`. What can I do to prevent this?

[2017-02-25 15:22] DominicTobias commented on #37
I am guessing that at some point something unusual is being pass into the cropper, try in your render method logging out the crop props you are passing in, maybe one of them is not a number, or a number as a string or something. If not I'll have to try and get a reproducible example to debug.

[2017-02-25 16:07] isaachinman commented on #37
As per my initial post:

`<ReactCrop crop={{ aspect: 1, width: 100, top: 0, x: 20 }} src={newProfilePhoto.preview} />`

That is what I am passing in. They are all integers. No strings, no `NaN`, nothing except valid integers.

I am never even sending height, so however it is being assigned `NaN` is happening within `react-image-crop`.

[2017-02-25 16:09] DominicTobias commented on #37
Ok can you upload the image somewhere and post a link? I want to see if I
can replicate it if I use the exact props. Also what browser/version are
you using?

On Sat, 25 Feb 2017 at 16:07, Isaac Hinman <notifications@github.com> wrote:

[2017-02-25 16:13] isaachinman commented on #37
**Browser:** Chrome, Version 56.0.2924.87 (64-bit) [OSX]

**react-image-crop:** v2.0.2

**Image:** https://i.imgur.com/diacaXd.png

[2017-02-25 16:14] isaachinman commented on #37
The only thing I can think is that it's related to the fact that the `x` value in combination with the `aspect` value forces a recalculation of the `width` value (I assume this is happening somewhere in your code).

[2017-02-27 08:39] DominicTobias commented on #37
I can't replicate your issue by using that crop and choosing that image (using react-image-crop/demo/index.html). It's likely something else you're doing but I can't solve it unless you can provide a working example of the error sorry

[2017-02-27 09:19] isaachinman commented on #37
That _is_ a working example, I assure you. I can reproduce with just that data in a clean environment. At any rate, like I have said it doesn't seem to inhibit functionality so it's not a priority for me.

[2017-02-28 14:17] pedro-couto opened #87 "Workaround for opacity background around .ReactCrop--crop-selection in IE (11/Edge)"
Hi guys!

Here is a quick workaround for making the opacity background around the selection box work in IE.

Just using box shadow you can make the rest of the element have a dark opacity or whatever color you would like. You can check the following example:

[code]
Its up to you to make the decision of either make box shadow work just on IE or remove the background.

When using the `box-shadow` I

[2017-02-28 14:28] DominicTobias commented on #87
Hey, that's a good idea! it could simplify the code quite a bit actually. I'll try it out/see what it does to performance etc

[2017-03-05 13:01] DominicTobias commented on #87
Thanks for this, it works nicely and simpifies the code as well as makes it compatible with more browsers 👏 I will be releasing it soon

[2017-03-08 16:10] optimatex opened #89 "How to disable dimension of crop area and make available only dragging?"
Hi. Thanks for this repo.
I would like to use reac-image-crop for setting cover image. That means i need fixed crop size in pixel, let's say 500 x 300 px. So, i don't need ability to change crop width or height. User should only have ability to drag pre-defined crop area to capture certain part of image.
How can i achive this? i know there is maxWidth prop, but it use percentage and hence it doesn

[2017-03-09 17:28] DominicTobias commented on #89
Hi, you can only set the crop using percentages, you may find another cropping library which is based on pixels more useful to you - but if you know the width + height of the image you should be able to derive the percentage - e.g. if the crop image is 1500 wide, then you know that the % to use is 33.3333% (500/1500*100). If you set `disabled` to true then they won't be able to modify the crop, yo

[2017-03-09 18:27] optimatex commented on #89
Thank u for ur response. I'll left the feedback if I get luck with resolving this issue

[2017-03-10 17:45] andyrichardson opened #90 "Crop disappears after a few seconds"
**Issue**
Crop range disappears roughly 2 seconds following a selection.

**Expected Result**
Crop range stays until new range generated or user clicks on other element.

**Code**

    <ReactCrop
        crop={{aspect:1}}
        src={this.state.imagePreviewUrl}
        onComplete={(c,p)=>this.cropComplete(c,p)}
        keepSelection
    />

If you need more info I'd be happy to provide a GIF demo

[2017-03-10 18:19] andyrichardson commented on #90
My bad, the crop variable needs to be stored and updated within state in order for changes to persist. This could be more clear in the documentation.

[2017-03-10 18:19] #90 closed

[2017-03-21 10:18] inferusvv opened #91 "onCropComplete pixelCrop returns object with `0` values."
I set image url and show ReactCrop component. If user don't change anything and confirm, `this.crop` will have 0 values, so backend will receive this wrong values.

[code]

[2017-03-21 16:10] DominicTobias commented on #91
Just to be clear - are you setting a crop on load or not? If not then this is correct

[2017-03-21 17:24] inferusvv commented on #91
No. If I have `this.props.user.avatarForCrop`, then I render `ReactCrop` component.

[2017-03-21 18:41] DominicTobias commented on #87
Released in 2.0.3

[2017-03-21 18:41] #87 closed

[2017-04-07 18:09] djfdev opened #92 "Rotation support"
Any plans to add support for rotating the image? Or does anyone have experience rotating the image, while maintaining the proper directionality of the cropper? Basically I'm thinking something along the lines of the following:

- Strip out EXIF rotation data before `onImageLoaded` callback is fired
- Add support for a `rotation` prop (or potentially `crop` attribute), which accepts a number of deg

[2017-04-08 11:06] DominicTobias commented on #92
Hi @djfdev, sorry but this is indeed beyond the scope of this library. It's too specific a use-case and I don't have the inclination to support that much of an extended feature set tbh. But if I was you I would create a higher order component (one which wraps this one or another lib) and adds that prop and does what you desire, it sounds like it could be pretty agnostic of the actual cropping comp

[2017-04-12 17:34] anvk opened #93 "Displaying vertical images"
It seems that `ReactCrop` displays vertical images preserving their original size. Is there a way to fit image inside the parent <div /> ?

Right out of the box, Cropper will make any landscape image to be adjusted to cropper's width and height. Basically image dimensions are adjusted so that they fit. Example:

<img width="761" alt="screen shot 2017-04-18 at 2 21 12 pm" src="https://cloud.githubu

[2017-04-20 12:51] jonathansp opened #94 "disable page scroll while cropping on small screens"
how to avoid this behavior?

![crop-scroll](https://cloud.githubusercontent.com/assets/457972/25231630/f42bd8e0-25ae-11e7-8838-acee9913deb1.gif)

[2017-04-20 19:43] jonathansp commented on #94
Hi @DominicTobias

Please check if makes sense: https://github.com/DominicTobias/react-image-crop/pull/95
By having these callbacks we are able to add and remove CSS classes that will prevent this problem.

[2017-04-21 03:50] paltman opened #96 "Accessing PropTypes via the main React package is deprecated"
React 15.5 has deprecated use of PropTypes from the React package.

[code]

instead of

[code]

[2017-04-21 08:36] #96 closed

[2017-04-30 17:00] shogowada opened #99 "onChange not called when crop is changed on load"
Maybe this is by design, but `onChange` is not called when the initial crop was adjusted on load.

[code]

[2017-05-02 12:03] borlaym commented on #99
Ran into the same issue, I'd argue this is fine as it is, since technically it's not a change. If you want to react to changes by for example enabling a save button, you don't want that to fire on initial load.

[2017-05-03 08:07] DominicTobias commented on #99
Hi yep as Marton says this was by design, I'm not exactly sure which
behaviour makes sense to most people, but it's true that something like a
Dave or cancel button would benefit from the current behaviour.

I think you could do it a different way though - set or initial crop on the
state e.g state.crop and on change modify that crop object, then you
wouldn't need the onImageLoaded callback - I'm

[2017-05-03 10:56] shogowada commented on #99
Sorry, my example is incomplete, but that's what I'm actually doing. Issue is, my initial crop doesn't have `y` or `height` because I'm letting the library to adjust them during the initialization. During the initialization, the library fills `y` and `height`, but I cannot catch that change via `onChange`.

But I see a valid use case for the current behavior too, so that's fine. I wanted to make s

[2017-05-03 12:41] #99 closed

[2017-05-11 04:09] billneff79 opened #101 "onAspectRatioChange not called when going from unset/false to set"
onAspectRatioChange is not being called when going from a falsey value to a truthy value, but is fired when going from a truthy value to another truthy value or to a falsey value.

Was that intentional or not?  If not, it would be useful for our application to also fire onAspectRatioChanged when going from unset to set as we would like to update a preview of the crop that we are showing when the a

[2017-05-11 09:55] DominicTobias commented on #101
Thanks this isn't intentional and your way makes sense. I'm away with just
a phone until the end of May though so won't be able to address this until
then.

On Thu, 11 May 2017 at 12:10, Bill Neff <notifications@github.com> wrote:

[2017-05-11 17:27] billneff79 commented on #101
Thanks. Not a hurry. End of the moth would be great.

On Thu, May 11, 2017 at 5:55 AM Dominic Tobias <notifications@github.com>
wrote:

[2017-05-11 21:00] billneff79 opened #102 "onChange/onComplete not firing when width or height of crop are change programmatically"
onChange and onComplete are not being fired if new crops.width or crops.height props are passed to the component.  They only appear to be fired on user interaction.  I need to be able to get the pixelCrop after the crop occurs if I update those values programatically.

[2017-05-19 12:16] lukaszgolder commented on #96
Are you planning to release this soon?

[2017-05-19 12:46] DominicTobias commented on #96
I am but I'm away with only a phone until May 22, will release it in 1-2 days after I get back

[2017-05-23 09:17] zhangchao828 opened #103 "prop-types warnings which due to upgrading React"
![e244c3af-4f48-450b-929a-968839155e93](https://cloud.githubusercontent.com/assets/15683846/26347307/ba57b19c-3fdb-11e7-9cd9-f590674bfe79.png)

[2017-05-23 09:23] #103 closed

[2017-05-23 12:03] borlaym opened #104 "Preact issue"
When you use Preact instead of React, a fixed aspect ratio causes the following issue:

![cropper](https://cloud.githubusercontent.com/assets/5425530/26353131/1f1af818-3fbf-11e7-9ea1-80610dade04a.gif)

Steps to reproduce on the demo page bundled with this repo:
- Install `preact` and `preact-compat`
- Add the following to the webpack config:
[code]
- Set a fixed aspect ratio (I used 16 / 9)
- Set

[2017-05-25 11:56] DominicTobias commented on #94
Released in 2.0.4

[2017-05-25 11:56] #94 closed

[2017-05-25 11:57] #92 closed

[2017-05-25 11:58] DominicTobias commented on #78
I'm no longer using an SVG clipPath so this problem should be resolved

[2017-05-25 11:58] #78 closed

[2017-05-25 11:59] DominicTobias commented on #104
Interesting! Looks like a tricky but interesting one to figure out, may take a little while for me to get around to looking into it

[2017-05-25 12:10] DominicTobias commented on #102
The problem with implementing this is that it goes against some common React principles that I didn't properly adopt when first building this library, but may want to change in the future.

At the moment state is held internally in ReactCrop - this means that you don't have to implement the onChange handler.

Think about when you use an `<input>` in react - if you don't implement the `onChange` ca

[2017-05-25 12:10] #102 closed

[2017-05-25 12:22] DominicTobias commented on #101
Released in 2.0.5

[2017-05-25 12:22] #101 closed

[2017-05-25 12:23] #89 closed

[2017-05-25 14:51] billneff79 commented on #102
That's OK.  We ended up calculating the change programmatically instead of
reacting to an onChange handler.

On Thu, May 25, 2017 at 8:10 AM, Dominic Tobias <notifications@github.com>
wrote:

[2017-05-25 14:52] DominicTobias commented on #102
Great 👍

On Thu, 25 May 2017 at 15:51, Bill Neff <notifications@github.com> wrote:

[2017-06-02 10:14] tomhalley opened #105 "Getting the cropped base64 image"
Am I just imagining this, or is this "react image cropper" literally just drawing a crop selector over my image and then giving me back the dimensions of said crop selector? How do I actually get the cropped image back out?

[2017-06-05 14:10] DominicTobias commented on #105
You are correct, it's also what most other cropping libraries do. In a typical scenario you want to save a cropped version of the image on the server - it makes more sense for the server to create the cropped image in this case. There are some ways to create cropped images on the client but it's dependent on modern browser features - see https://github.com/DominicTobias/react-image-crop#what-about

[2017-06-05 14:10] #105 closed

[2017-06-26 14:05] DominicTobias commented on #93
Delayed answer of the century, but this depends on how you've set up the css on your page - it's more of a general question on how to give an image a max-height. You can literally do it with the `max-height: 100%` like this: https://jsfiddle.net/njwhedr0/

If i didn't understand something please feel free to comment.

[2017-06-26 14:05] #93 closed

[2017-07-26 09:07] tarikakyol opened #107 "onImageLoaded called twice"
Hi,

Just wondering if there's a schedule to fix the bug below

[ReactCrop.js#L186](https://github.com/DominicTobias/react-image-crop/blob/266dd2763982a5396f9d698d0915e71d6dd20a91/lib/ReactCrop.js#L186)

[2017-07-26 20:13] DominicTobias commented on #107
@tarikakyol Are you experiencing a double load? I'm trying to remember how to reproduce a case where this conditional happens - `this.imageRef.complete || this.imageRef.readyState` (in normal cases that doesn't actually seem to happen despite the comment)

[2017-08-08 07:43] barbu110 opened #108 "Cannot resize it"
It would be very useful to be able to size the component the way you need it, like if you load a 16:9 image, specify a width of `800px` and that's it. Currently, the interface will expand the whatever the image size is which is not quite ok.

**note** There is an expensive workaround to this that I can think of, resize the image in-browser and create the blob URL for it afterwards.

Any other sugg

[2017-08-08 14:28] virgofx opened #109 "Update Package Peer Dependencies to Support React 16"
Updating react to the following should work:

[code]

[2017-08-08 17:39] DominicTobias commented on #109
Thanks

[2017-08-08 17:39] #109 closed

[2017-08-08 17:40] #86 closed

[2017-08-10 19:41] DominicTobias commented on #108
Hi thanks for this. But I don't this will work for the largest use case which is delivering an image from a server and then cropping it on the server. The backend does not know how the image was distorted in the browser.

The idea if that you send the crop x & y as a percentage to the server and it can crop the image, regardless of the size of the image on the client (whether it was made bigger or

[2017-08-10 20:40] DominicTobias commented on #108
Hi the intention is that you limit the crop from the container, and allow the crop to expand up to that:

[code]

This container could be limited by other things e.g. a percentage or flexbox etc.

[2017-08-16 14:04] zackify commented on #59
Doing this is really easy. Here's how my component looks:
[code]

Get the  base64 of a file object, render it to an image, get the height and width. Then, pass the height and width to your cropper props, something like this:

[code]

Now you have percentages from pixels, for anyone else who needs it :)

[2017-08-21 16:38] jbrozena22 opened #111 "Disable autoscroll?"
See this animation to see the autoscroll issue.

It looks like, when you click down to make your first crop, it automatically scrolls the browser to the top of the image. This only occurs if some of the image extends beyond the bottom of the browers window. It feels like this is done on purpose to maximize the amount of the image shown on the page.

I'd prefer it didn't do this as it makes the UI

[2017-08-24 16:16] kyleramirez opened #112 "Support for rotation?"
This is simply the best most simple implementation of cropping out there for React, hands down. Thanks for keeping it simple.

Speaking of simple, and I don't mean to sound ironic, but in order to use this in my project, I need to support rotation during cropping. If you have a suggestion of how you'd approach it, I will complete it.

Big fan of this, please let me know.

[2017-09-04 09:42] DominicTobias commented on #112
Sorry for the slow reply was on vacation. Hm sounds tricky to implement, I'd imagine you would manipulate the css `transform: rotate` property as the mouse is being dragged but there are probably various difficulties - e.g. the X point could either be the top or bottom corner depending on the rotation position (which is sticking furthest out) and same with Y. And also what to do if they rotate the

[2017-09-09 10:52] mikaturk opened #113 "p tags cannot contain div tags"
Hey,

I was trying to use react-image-crop but it gave me this error:
Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>. See App > p > ... > ReactCrop > div.

steps to reproduce: use create-react-app with react-image-crop

Greetings,
Mika

[2017-09-09 12:22] DominicTobias commented on #113
Hi,

It's advising that you shouldn't put a div in a p, ReactCrop has divs in it
and you put it in a paragraph tag

On Sat, 9 Sep 2017 at 11:52, mikat <notifications@github.com> wrote:

[2017-09-09 14:13] mikaturk commented on #113
oh wait yes it put it in the main element of the demo which is a p tag, thanks for the reply it works now :)

[2017-09-12 11:01] #113 closed

[2017-09-17 01:36] BrockWills opened #114 "Support for no-resize and no new crop?"
Firstly, great stuff on this project - really useful and simple!

My personal use-case is to have a predefined crop size, and then have moving that around be the only option for the user (ie. no resizing of the crop area, and no dragging to create a new crop area).

I had to fork the repo to implement this functionality, but wondering if that's something you'd be interested in for this repo? If so

[2017-09-17 21:25] DominicTobias commented on #114
Hi Brock, thanks for the kind words! I'd be interested how you did it,
however I've been meaning for some time to change this to be more in line
with the general react philosophy of passing the responsibility of mainting
state upwards and to make this a controlled component. In other words
removing internal crop state and relying on the parent (which it is already
semi doing anyway). That way the

[2017-09-17 21:26] DominicTobias commented on #114
* that could be an option (disabling resizing), though I'm not sure what
the point of the handles would be without it so perhaps it's just be a case
of not rendering them out

On Sun, 17 Sep 2017 at 22:24, dominic tobias <dominic.tobias@gmail.com>
wrote:

[2017-09-18 00:01] BrockWills commented on #114
Yeah I noticed when I first read the documentation it struck me as operating like a controller component but doesn't work fully like that in practice.

What is the option for disabling new crop? I guessed either keepSelection or disabled was supposed to do that but didn't work for me when I gave it a try (perhaps I did it wrong - will give it another go).

And yeah my of disabling the resizing in

[2017-09-19 17:18] DominicTobias commented on #114
Not rendering the handles seems like the best way, and yep keepSelection is
supposed to stop you from drawing a new crop, I hope it's not broken!

On Mon, 18 Sep 2017 at 01:01, Brock Wills <notifications@github.com> wrote:

[2017-09-19 23:24] BrockWills commented on #114
Yeah I thought that was the point of keepSelection but it isn't working for me.

The way I fixed it in my fork was, in the `onComponentMouseTouchDown` function, turn `if (this.props.disabled) return` into `if (this.props.disabled || this.props.keepSelection) return`, because you don't want to do anything when dragging on the component if you don't want to create a new crop, correct?

Also, I added

[2017-09-20 17:58] DominicTobias commented on #114
Ah I remember now - keepSelection only prevents clicks rather than drags for making a new crop. Curious what your use case is for not just using the disabled prop, is it to hide the resize handles? I was thinking they should probably be hidden as they serve not purpose in disabled mode. Also you already can't click or drag to make a new crop in disabled mode

[2017-09-20 18:08] DominicTobias commented on #111
Sorry for the very delayed reply - there is no auto scrolling in the code, actually I can't replicate this (if you clone this repo and npm install and npm start and then open demo/index.html and load in a large image, the behaviour doesn't seem to be a problem there).

My guess is that when the selection is complete, your update of state in your app is causing element(s) to re-render which is caus

[2017-09-20 18:09] #108 closed

[2017-09-20 18:10] DominicTobias commented on #91
I'm closing this because it's old but let me know if you're still having issues. Will need a reproducible example because I can't replicate this.

[2017-09-20 18:10] #91 closed

[2017-09-21 00:25] BrockWills commented on #114
Right yeah that's what I observed.

My use case is basically that I want to be able to create a crop from a prop, but then have dragging that crop around to be the only option - so no resize, and no new crop from dragging. The disabled prop wouldn't allow me to drag the crop around so that's why I implemented the props for no resize and no drag new in my fork.

[2017-09-21 17:53] DominicTobias commented on #114
Ah ok got you, I think though that it's a bit of a niche option to add, unless someone else brings it up!

[2017-09-22 09:24] BrockWills commented on #114
Yeah that's a fair point - still interested in implementing no handles, and no crosshair cursor, when disabled? Can PR you something if so.

[2017-09-22 14:27] DominicTobias commented on #114
Thanks I've pushed up no handles already (not published yet) and good idea
re no crosshairs will do that too

On Fri, 22 Sep 2017 at 10:24, Brock Wills <notifications@github.com> wrote:

[2017-09-23 09:40] mikaturk opened #115 "Crop goes smaller than minWidth and minHeight"
Hey,

I found a bug where if you drag your mouse off the photo while trying to make it smaller than minWidth and minHeight (in my case both 15) it goes to 1/4 of the size? video: https://youtu.be/tJmeRfJBshw

Greetings,
Mika

[2017-09-24 00:40] BrockWills commented on #114
Oh perfect...thanks for all your help 👍

[2017-09-27 18:07] DominicTobias commented on #115
Hi,

I actually can't replicate this, I'm resizing and then continuing with the mouse down, dragging off the crop if that's correct. See recording using the /demo/ example:

![cannotreplicate](https://user-images.githubusercontent.com/760314/30929671-0f19d748-a3b7-11e7-9074-29c7cdfb84a0.gif)

[2017-09-29 18:22] Schnueggel opened #119 "require('./dist/CropSelection')"
the file is actually in lib folder

[2017-09-29 18:24] MatteCarra commented on #119
+1

[2017-09-29 18:28] Schnueggel commented on #119
Ok it seems the file is not build somehow. Still its missing in the dist folder

[2017-09-29 18:31] DominicTobias commented on #119
Thanks, I'm going to revert the HOC changes and move on to another branch until I can get this resolved. Will publish a fix soon.

[2017-09-29 18:42] DominicTobias commented on #119
Should be reverted now, please try 2.1.1

[2017-09-29 18:51] Schnueggel commented on #119
thx works for me

[2017-09-29 18:51] #119 closed

[2017-10-02 16:25] samsch opened #121 "onImageLoaded called with undefined with odd conditions"
onImageLoaded is first called with undefined when the ReactCrop component is initially rendered with a src value, seemingly when **re**built with Webpack. It's fairly consistent in Firefox, only seems to happen sometimes in Chrome.

Test case here: [https://codesandbox.io/s/lo9no1mkm](https://codesandbox.io/s/lo9no1mkm).

1. Turn OFF Preview On Edit in codesandbox.io settings.
1. Open browser cons

[2017-10-02 18:24] DominicTobias commented on #121
Thanks there is a bug introduced with v3 in the case where the image has been cached by the browser, just published `3.0.1` which should fix this issue.

[2017-10-03 13:39] samsch commented on #121
3.0.1 seems to fix the issue, which is no longer happening in my project, nor can I get it to happen again in codesandbox. My first test in codesandbox with the new version still had the issue, but I think it may just been because the old version was still cached in the build process.

[2017-10-03 13:39] #121 closed

[2017-10-03 13:40] DominicTobias commented on #121
Phew! Thanks for checking 👍

On Tue, 3 Oct 2017 at 14:39, Samuel Scheiderich <notifications@github.com>
wrote:

[2017-10-03 15:00] MatteCarra opened #122 "Pixel crop should be calculated on naturalWidth and naturalHeight"
I think that it would be more useful to calculate pixelCrop on naturalWidth and naturalHeight

[2017-10-03 15:14] DominicTobias commented on #122
Thanks, merged. I'll just wait a couple of days to publish to see if any issues come up from v3 in that time

[2017-10-03 15:14] #122 closed

[2017-10-03 15:15] DominicTobias commented on #114
v3 has been released with a better behaving `keepSelection` fyi

[2017-10-03 15:25] DominicTobias commented on #104
I think this issue may have been fixed in preact as I can't replicate it using 8.2.5. Please let me know if you still experience this issue.

[2017-10-03 15:25] #104 closed

[2017-10-03 15:26] DominicTobias commented on #107
I've removed this comment as I think the double load is no longer happening

[2017-10-03 15:26] #107 closed

[2017-10-03 15:30] DominicTobias commented on #112
I'm going to close this as it's not really an issue I can fix, I think rotation would be very tricky to accomplish. I'd think about css rotation but the edge detection would be hard and x,y, width and height wouldn't work either, the callbacks would have to give back all 4 points. I think a bespoke library would be better suited to this, and possibly doing the crop selection as an SVG if css wasn'

[2017-10-03 15:30] #112 closed

[2017-10-04 16:47] ibraback opened #124 "Cropper frame is invisible"
I'm trying to use this package and with testing it the ``<ReactCrop />`` component displays the images without the actual selection frame that selects the portion to crop.

[2017-10-04 17:50] DominicTobias commented on #124
Hi have you included either dist/ReactCrop.css or ReactCrop.scss?

[2017-10-04 18:25] ibraback commented on #124
I created the app using [create-react-app](https://github.com/facebookincubator/create-react-app), in my dev environment I don't have any **dist** folder at least for now because I didn't build the app yet, for the .scss file it's missing too, but I did a trick by finding the [ReactCrop.scss](https://github.com/DominicTobias/react-image-crop/blob/master/lib/ReactCrop.scss) file in the repo, conver

[2017-10-04 18:26] DominicTobias commented on #124
Hi,

Are you including the css?

On Wed, 4 Oct 2017 at 17:47, Ala Douagi <notifications@github.com> wrote:

[2017-10-04 23:40] ibraback commented on #124
Yes, I imported it as I said by converting the .scss file from the repo manually, it works now.

[2017-10-05 08:31] DominicTobias commented on #124
Strange, there should be a dist folder with the css when you do an npm
install

On Thu, 5 Oct 2017 at 00:40, Ala Douagi <notifications@github.com> wrote:

[2017-10-05 15:07] #124 closed

[2017-10-05 21:49] AlaDouagi opened #127 "How to store the selected part to crop in a variable"
Hello, I want to store the selected part from the picture in a variable as a Blob/Base64 after triggering some event by clicking a button for example, I can't find any solution in the docs, help please.

[2017-10-06 17:49] DominicTobias commented on #127
Hi, this is a little out of the scope of the package but I explained it in the readme here: https://github.com/DominicTobias/react-image-crop#what-about-showing-the-crop-on-the-client

This is pseudo code but it's something along these lines:

[code]

[2017-10-07 22:10] ibraback commented on #127
Thanks for the response, I tried the code but it didn't work directly, so I did some research to find the ideal solution for everyone that has the same problem as mine.
my solution is based on the code above but it crops the part selected from the original image as it is with the maximum resolution/quality available:

[code]
**PS**: please leave this issue open until I reference it in a pull reque

[2017-10-07 22:19] DominicTobias commented on #127
Glad you got it working, are you sure `pixelCrop` won't work? It's doing the same calculation as in your code:

[code]

P.S Fixed a mistake in my code:
[code]

[2017-10-07 22:26] ibraback commented on #127
@DominicTobias Yup, there was something wrong in the code, but I thought it was related to **pixelCrop** at first but it turns out it is related to canvas dimensions, thanks mate 😉

[2017-10-07 22:36] ibraback commented on #127
@DominicTobias please try to resize the window and verify the cropped image using my code and yours, the **pixelCrop** object values doesn't work well in the responsive use cases.

[2017-10-10 06:22] kjanoudi commented on #122
@DominicTobias this was the source of one of or major issues the past few days, so hoping we can get a deploy of 3.0.2 with this PR merged into it

[2017-10-10 07:38] DominicTobias commented on #122
Hi, I'll see if I can publish this on my work machine today, otherwise I'll
publish this evening (GMT) at the latest

On Tue, 10 Oct 2017 at 07:22, Kareem Janoudi <notifications@github.com>
wrote:

[2017-10-10 10:26] DominicTobias commented on #122
Didn't test it but published, I hope this works even when the image is squashed out of shape!

[2017-10-10 16:06] kjanoudi commented on #122
Thanks a lot it works well for us now!

[2017-10-11 06:41] kjellski opened #128 "Update documentation for onChange property"
Currently the released version requires onChange property, but it's not mentioned in the documentation why and what should be placed there.

[2017-10-11 07:11] kjellski opened #129 "The distributed export doesn't work as expected"
The current version 3.0.2 is exporting the module in a weird way, the example

    import ReactCrop from 'react-image-crop';
    ...
    <ReactCrop src="path/to/image.jpg" />

Doesn't work anymore.

[2017-10-11 08:22] DominicTobias commented on #128
Hi, I've added an example in the readme:

[code]

[2017-10-11 09:45] kjellski commented on #128
Hi @DominicTobias, thanks for the fast response. I just thought this is not really required, is it? The PropType is marked .isRequired... or is that a wanted API change? I just don't know and I recognized that it wasn't before ;)

If it's a wanted change, just go ahead and close the ticket :)

[2017-10-11 09:46] DominicTobias commented on #128
Yep it's a wanted change, since the crop state is no longer stored in the ReactCrop component ;)

[2017-10-11 09:46] #128 closed

[2017-10-11 09:47] DominicTobias commented on #128
PS I will check out your importing issue later

[2017-10-11 18:13] DominicTobias commented on #129
If you `console.log(ReactCrop)` what's the output? Are you using babel and webpack in your project?

[2017-10-12 12:50] kjellski commented on #129
@DominicTobias sorry man, I seem to have mixed up two differen things. The linter told my that the rule "import/default" was violated and I misinterpreted that. I've now disabled the rule, and it's just fine with the example you provided.
Although, is there anything against a ES6 "default export" ? Or is it just not getting through the transpile?

[2017-10-12 12:50] #129 closed

[2017-10-17 13:28] DominicTobias commented on #111
Closing due to inactivity, feel free to update

[2017-10-17 13:28] #111 closed

[2017-10-17 13:28] #114 closed

[2017-10-17 13:29] DominicTobias commented on #115
Closing due to inactivity, feel free to update

[2017-10-17 13:29] #115 closed

[2017-10-17 13:30] DominicTobias commented on #127
This should be fixed as of 3.0.2, let me know if you still have problems

[2017-10-17 14:10] AlaDouagi commented on #127
Yup, it is solved now, the **pixelCrop** object does the trick without manually get the values from **crop** 👌

[2017-10-17 14:27] DominicTobias commented on #127
Ok great 👍

On Tue, 17 Oct 2017 at 15:10, Ala Douagi <notifications@github.com> wrote:

[2017-10-18 19:41] #127 closed

[2017-10-24 06:23] nicewahson opened #131 "can this work?"
can't work on my pc chrome 61, can it be more simple to use?

[2017-10-24 07:50] DominicTobias commented on #131
Please show how you’re trying to use it or I can’t help

[2017-10-24 08:16] nicewahson commented on #131
i copy demo code
<pre>
class Parent extends Component {
    constructor() {
      super();
      this.state = {
        crop: {
          x: 0,
          y: 0,
          // aspect: 16 / 9,
        },
        maxHeight: 80,
      };
      this.onButtonClick = this.onButtonClick.bind(this);
    }
    // ...

    render() {
      return (
        <div>
          <ReactCrop
            {...this.state}

[2017-10-24 08:59] #131 closed

[2017-10-24 08:59] nicewahson commented on #131
well, i forget to include style file, o(╯□╰)o

[2017-10-24 14:54] paterninaisf opened #132 "Cannot read property 'aspect' of undefined to click for to do a crop"
Hey Dominic Thanks for this library!

I have a issue when try to implement the puglin. When I try to do click for selcect an area for to do a crop, It's throw an exception. Do you have any idea about this?

` Cannot read property 'aspect' of undefined`

![image](https://user-images.githubusercontent.com/19295280/31950302-eb3bbc70-b8a0-11e7-9134-68704e54453d.png)
![image](https://user-images.github

[2017-10-24 15:20] paterninaisf commented on #132
Hey, I missed pass the `crop` prop to component, however, in the documentation say that is optional, for that I thought that it's no was necessary.

Thank you!

[2017-10-24 17:48] DominicTobias commented on #132
Hm it's supposed to be optional! Can you let me know what props you were trying? Thanks

[2017-10-27 10:01] TimSusa opened #133 "Toggle of aspect-ratio is broken"
When changing the crop.aspect prop, the component does not immediately represent the new cropping state. Only after manually changing the crop with the mouse, it changes.

This was working in Version: 2.0.8
This is broken in Version: 3.0.2

[2017-10-27 15:48] DominicTobias commented on #133
Hi,

I can't replicate you're issue. Can you post some code you're trying? See the https://github.com/DominicTobias/react-image-crop/blob/master/demo/demo.js for some example usage. I suspect you haven't adjusted your code for v3, which unfortunately makes using an aspect with a width + height a bit less convenient out of necessity. Check the release notes and the demo code.

Working:

![aspect-wo

[2017-10-29 18:52] virgofx opened #134 "Add Minified Version for External Usage"
Since this library is not that small and typically used only on certain pages for applications it would be nice to have a minified version for use on production sites where the file can be loaded in UMD format from a CDN.

[2017-10-30 15:02] DominicTobias commented on #134
This used to exist in the project and someone made a PR to remove it :P

Personally I don't mind it being here though.

PS Most people tend to use something like NPM + webpack to consume modules so this isn't an issue. You would use webpack's `System.import` abilities to load different bundles for each route so it would automatically only load what was needed for each one.

[2017-10-30 16:20] virgofx commented on #134
Odd, not sure why someone would remove it.  Either way, adding it only adds additional opt-in functionality for people that may want CDN usage. You're right most people probably consume by requiring the module directly and bundling directly.

[2017-10-30 18:45] DominicTobias commented on #134
Yep sounds good, just wondering how webpack consumes the config since you changed it to an array with 2x functions (as per comment in PR)?

[2017-10-30 18:48] virgofx commented on #134
Passing an array enables Webpack's multi-compiler mode. It's just a way to run Webpack multiple times in one pass.

Example:
https://github.com/webpack/webpack/tree/master/examples/multi-compiler

[2017-10-30 18:50] DominicTobias commented on #134
Ah good to know 👍

[2017-10-30 18:50] #134 closed

[2017-10-30 18:54] DominicTobias commented on #134
Published 3.0.3 @virgofx

[2017-10-30 18:58] virgofx commented on #134
Sweet -- Looks good:
https://unpkg.com/react-image-crop@3.0.3/dist/

I'll submit a PR now to get this repo added to CDNJS and CC you. Usually takes a few days to get things done over there.

[2017-10-31 07:18] chenesan opened #136 "Get Webpack case-sensitive warning with v3.0.3"
It seems that in v3.0.3 with `dist/`, webpack will warn about case-sensitive problem when import react-image-crop:

[code]

[2017-10-31 09:19] salali commented on #136
Have this issue also

[2017-10-31 09:32] DominicTobias commented on #136
Thanks I didn't spot the change in a PR that caused this but will update and release a fix now

[2017-10-31 09:36] #136 closed

[2017-10-31 09:41] DominicTobias commented on #136
Sorry github auto closed the issue, but let me know if that fixes it plz

[2017-10-31 13:16] virgofx commented on #136
@DominicTobias React needs to be uppercase. This breaks UMD.

[2017-10-31 13:19] DominicTobias commented on #136
Hm that's going to be a problem as people require in `react` not `React`, modules are lower case in NPM world. Will need to see if there's compromise. How does it break UMD exactly?

[2017-10-31 13:29] virgofx commented on #136
Weird is that I can't reproduce the issue. Not sure how others are seeing it?

[2017-10-31 13:31] DominicTobias commented on #136
I was actually curious too because if you require the package normally it should (I thought) get lib/ReactCrop, not the built version. So I was wondering how the warning was talking about e.g. `/Path/To/My/Project/node_modules/react-image-crop/dist/ReactCrop.js`

@chenesan @salali ow are you include this package in your projects?

[2017-10-31 13:32] virgofx commented on #136
Yeah the /dist versions shouldn't be included. That's for CDN only. So it appears to be a user error. Checking newer versions of webpack the new standard is to simply have `react: 'React'`. So 3.0.3 appears to be correct.

[2017-10-31 13:41] DominicTobias commented on #136
Yeah thinking about it seems likely. Do you think

[code]

Should work though as root['React'] which gets compiled is equivalent to `window.React`. I'll publish the change.

[2017-10-31 13:53] virgofx commented on #136
So the above fix - Works. The /dist contents to get included as specified via the index.js -- Which is the correct and desired behavior as there may be some processing done to cleanup the library prior to being consumed. So 3.0.5 should be good.  Maybe make a note in the release notes in 3.0.4 to not use this version and upgrade immediately to 3.0.5.

[2017-10-31 13:56] DominicTobias commented on #136
Thanks for checking, I've added that

[2017-10-31 13:59] virgofx opened #137 "Feature Request: Circular Bounding Preview"
I know this used to exist in v1 and was subsequently removed in v2 to remove bloat; however, now that the code base is cleaner, uses PureComponent, fairly lightweight ... would it be at all possible to revisit the circular bounding preview to see if it could be easily incorporated?

[2017-10-31 14:37] chenesan commented on #136
@DominicTobias I got this issue when I `yarn add react-image-crop` with v3.0.3 and `import ReactCrop from 'react-image-crop'` in my project. Maybe the `index.js` export the module in `dist/`?
Anyway, the warning disappears in v3.0.5 for me, too;) Thank you @DominicTobias @virgofx !

[2017-10-31 15:21] DominicTobias commented on #136
Thanks for checking @chenesan. Yeah interesting not sure why that warning was appearing then, but at least it's fixed!

[2017-10-31 15:23] DominicTobias commented on #137
By preview do you mean the cropped area? Is the use case for a profile pic?

If so I would imagine it would be better as a fixed 1:1 aspect, and the inside of the rectangle is shaded so that it shows a circle in the middle?

[2017-10-31 15:40] virgofx commented on #137
Yes referring only to a preview of the cropped area. All aspect coordinates can remain intact - e.g. `x, y, width, height` ... the only change would be to the crop preview (when using fixed aspect ratio 1:1) to show some sort of overlay/circular preview. I believe that it could be done with mostly efficient CSS/adjustments. If done via a singular class and then CSS, figured it could be done pretty

[2017-10-31 15:50] DominicTobias commented on #137
Yep I see what you mean, if it can be achieved with minimal extra code and mostly css then sounds good. However I'm travelling 50%+ of the time from now until December and have lots to do so I can't say if and when I'll look into doing it!

[2017-10-31 15:55] virgofx commented on #137
No worries -- I think we're on the same page. Will leave this open if anyone else has time to submit a PR for a visual addition with additional prop. I think it should be pretty easy.

[2017-11-01 17:21] davitv commented on #132
Same issue i have

[2017-11-01 17:22] davitv commented on #132
<img width="1491" alt="screenshot 2017-11-01 19 14 33" src="https://user-images.githubusercontent.com/3396749/32287583-f9c316ae-bf39-11e7-8066-61d526c91397.png">

[2017-11-01 17:27] DominicTobias commented on #132
Thanks I'm able to replicate the bug, I'll make a release with a fix shortly

[2017-11-01 17:32] davitv commented on #132
Thanks! That's blazingly fast!

[2017-11-01 17:32] DominicTobias commented on #132
Released 3.0.6

[2017-11-01 17:35] davitv commented on #132
Sir, you are a legend!

[2017-11-02 12:42] paterninaisf commented on #132
Hey, Thank you man!!

[2017-11-02 13:35] virgofx opened #138 "Production Minified version incorrect"
The original commit for CDN access was altered in syntax resulting in the minified version being not minified.

[2017-11-02 19:20] #138 closed

[2017-11-06 14:48] TimSusa commented on #133
We observed two effects:

1: Changing the cropping to overlap the image, does not clamp the cropping area. Only after moving the cropping area, it is clamped to image boundaries.

2: Toggling the aspect ratio will not trigger onUpdate

Please see the demo code below and the gif we provided.

![cropping-bug](https://user-images.githubusercontent.com/8963529/32446621-cbc710ba-c309-11e7-8196-9b8c3f48

[2017-11-07 15:10] DominicTobias commented on #133
Thanks I'll have to check it out, though I'm on vacation for a week tomorrow so may have to wait until after

[2017-11-09 02:49] LTM333 opened #140 "Setting a max-height property in the css does not scale correctly"
Currently I'm trying to set a fixed height in the ReactCrop.css file as I simple want to limit how long the image that a user uploads will display on the screen.
The problem is the max-height is only respected for part of the image, the rest of the image that exceeds the height will be cut off. For example setting the max-height to 750px and uploading an image with a height of 1000 pixels for inst

[2017-11-22 04:05] virgofx opened #142 "makeAspectCrop Doesn't Work with Wide Images"
Regardless of the `width` or `height` parameter passed in -- when a wider image is setting it's initial aspect crop it doesn't respect 100% on either boundary. This is because of faulty logic inside.
[code]

Because the order of operations doesn't respect the previous boundary it allows for values greater than 100%.

The following updates fixes the problem and I tested with wide/square/narrow all

[2017-11-22 11:32] DominicTobias commented on #142
Good point thanks, I'll take a look. Your code or something very similar should do the trick!

[2017-12-05 22:26] virgofx commented on #137
It appears just setting the selection div to use `border-radius: 50%` works sufficiently. Will close this for reference.

![image](https://user-images.githubusercontent.com/739719/33634173-26248d56-d9c8-11e7-86d9-4e6b2afd1d50.png)

[2017-12-05 22:26] #137 closed

[2017-12-12 10:59] #142 closed

[2017-12-12 20:12] DominicTobias commented on #137
Great! That was easy

[2017-12-12 20:13] #132 closed

[2017-12-13 04:33] foodaka commented on #30
@DominicTobias if using a remote URL how to fix this problem?

[2017-12-13 04:34] foodaka commented on #30
Basically i want to pass a url as a prop to the component so i can edit images. I dont need react cropper to handle any upload. I am getting the `Failed to execute 'toBlob' on 'HTMLCanvasElement': Tainted canvases may not be exported.` error

[2017-12-14 11:21] liitfr opened #146 "trouble with jsnext:main"
Hello !

I've already been using your package in other projects and I really like it, thanks for this great package.

It's the first time I use it on a react-boilerplate project, but i'm encountering an issue

Error when building webpack dll (same error at runtime) :

[code]
i've found 2 workarounds:

1. change webpack config from
[code]
to
[code]

2. or exclude react-image-crop from webpack-dll &

[2017-12-14 20:11] DominicTobias commented on #146
Hi,

Thanks but object spread is pretty much a standard in boilerplates now, it did come out a little later than argument and array spread though - I think it's es7. But it's so widely used that the most common babel presets have it. Do you have a link to that boilerplate? I recommend you update the babel config to allow object spread, as it's very useful anyway and a goto if you're using somethin

[2017-12-18 02:55] edidiway opened #147 "not working in IE 11, for big image"
Hi, I am testing on IE 11, and use the big image resolution.
When you used image which height is greater than its content, and scroll was appear..
Then when I scroll down and want to crop the photo, the scroll always reset/go to the top of browser again.

[2017-12-18 09:56] foodaka opened #148 "cropping from initial state without onChange"
i am setting a suggested crop dimensions

 const coverInitialState = {
   x: 0,
   y: 25,
   width: 100,
   height: 50
 }

if the user just clicks a button crop, how to get the pixelCrop so i can display a preview of the crop to the user? Because the user did not drag the cursor the onChange was not fired and thus no pixelCrop object for the canvas.

[2017-12-18 15:56] DominicTobias commented on #140
Hi, I'm not sure what you mean as max-height works out the box for reducing the image size but preserving the aspect and not cutting stuff off - https://jsfiddle.net/t7kojdh2/

[2017-12-18 16:00] DominicTobias commented on #148
Hi,

In this case you can calculate your own pixel crop in `onImageLoaded`:

[code]

[2017-12-19 02:06] foodaka commented on #148
Ah thanks for the reply, and kudos for the awesome library

[2017-12-19 02:06] #148 closed

[2017-12-28 23:40] SevenZark opened #149 "Select box not visible"
Hi,

First of all, thanks for this! I hope I can get it working because it's just what I needed.

I'm having an issue where, when clicking and dragging on the image, the selection frame does not show. The cursor correctly changes to crosshairs over the image, and upon clicking, a darkened semi-opaque layer shows up over the image, but no selection box or handles show up at all.

I'm using Chrome o

[2017-12-29 00:20] SevenZark commented on #149
Okay, I got it to work by doing this:

[code]

So, the ReactCrop object wasn't showing any selection because it wasn't aware of one. I figured this out by a pure lucky guess, but the documentation doesn't show this. In fact, it shows the crop property as being 'optional.' Did I just miss the info somewhere? Or maybe does the documentation need to be clarified?

[2017-12-30 21:18] DominicTobias commented on #149
Hi, glad you solved it. The readme says:

crop (optional)
All crop values are in percentages, and are relative to the image. All crop params are optional. _However while you can initially omit the crop object, any subsequent change will need to be saved to state in the onChange callback and set here._

I hope this is clear enough!

[2018-01-03 14:00] SevenZark commented on #149
It's clear, yes, but perhaps easy to miss. Or it was for me, anyway. It might be helpful to put the property assignment right in the example code near the top of the readme, since it's one of the first things people will see, and something most will need to do when looking at that example code. Just a suggestion. :)

[2018-01-03 21:27] DominicTobias commented on #149
Agreed, I've tried to make it clearer now and moved the onChange doc up there too

[2018-01-03 21:27] #149 closed

[2018-01-05 10:40] otakueadwine opened #150 "React.createElement: type is invalid"
Hi! Thank you for creating this plugin!
I'm currently trying to implement it in my project, but I keep getting the following error:
`warning.js:33 Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in. Check the render me

[2018-01-09 22:03] owenoak opened #151 "Add !default to SASS variables for local project override"
Hey there, great project!  I'm very excited I don't have to write this myself.  :-)

A request that you add `!default` to your SASS variables so they can be easily overridden in projects using the library.

e.g.  If the variables are declared as:

_FILE: **myproject**/node_modules/react-image-crop/lib/ReactCrop.scss_
[code]
Then I can override them easily in my local project's scss file before I i

[2018-01-09 22:25] DominicTobias commented on #151
Hi, thanks for the feedback I don't see a problem with adding that (added but not published yet)

[2018-01-09 22:28] DominicTobias commented on #150
Hi,

Typically something you are importing is undefined. Did you figure this out? You shouldn't need to add this to a vendor option if you're referring to build tools like webpack, just the import should do. If below the import you do `console.log(ReactCrop)` what does it give?

[2018-01-09 23:20] owenoak opened #152 "Drag bar not centering over line when changing handle size"
The default drag handle / drag bar size setup appears to indicate that the transparent drag bar is centered over the "marching ants" crop line.  That's what I would expect anyway.

However, if I change the drag bar / handle sizes, the bar will be (mostly) outside of the crop line, rather than centered over it.

e.g. With variables:
[code]
The drag bar will be almost entirely to the outside of the

[2018-01-09 23:27] owenoak opened #153 "Add $mobile-media-query sass variable"
The `ReactCrop.scss` file currently specifies a `$mobile-max-width` variable, which is used to generate a media query for mobile devices:

[code]

In my project, I'm only supporting iOS and Chrome, so I can use the `pointer: coarse` media feature (https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer) which will engage in mobile devices where fingers are used, and be ignored on desktop b

[2018-01-10 10:04] DominicTobias commented on #153
This and your other suggestion seem like sensible ideas. Are you able to
raise a PR for them? Thanks

On Tue, 9 Jan 2018 at 23:28, Owen Williams <notifications@github.com> wrote:

[2018-01-10 16:18] owenoak commented on #153
Done, my first pull request.  :-)  I did one request for both this and #152.  Thanks!

[2018-01-10 17:45] DominicTobias commented on #153
Great! thanks @owenoak

[2018-01-10 17:59] DominicTobias commented on #151
Published your changes in 3.0.9, please give it a go and let me know if there are any probs

[2018-01-10 17:59] #151 closed

[2018-01-10 17:59] #152 closed

[2018-01-10 17:59] #153 closed

[2018-01-11 13:10] danielasy commented on #150
Hello, I was getting a similar error when importing with `import ReactCrop from 'react-image-crop'`. ReactCrop would be set to `undefined`.

Using `import * as ReactCrop from 'react-image-crop'` instead seemed to do it.

[2018-01-15 23:36] owenoak commented on #151
Working great!

[2018-01-19 10:29] aanchalgera opened #155 "Expects width and height both"
The documentation states that we can either specify width or height but if I initialise crop of ReactCrop as
[code]
It doesn't show a selection box. As I understand, it's because, it does not go into this code block
[code]
so `cropSelection` is not initalized. It was working perfectly fine in version 2.1.1.

[2018-01-19 12:24] DominicTobias commented on #155
Hi, the documentation says you can either omit both of them, or include them. I'm surprised this was working in 2.1.1 because the crop wouldn't be visible if it had no width. What were you expecting to see if it did work?

[2018-01-19 13:09] aanchalgera commented on #155
I am giving the aspect ratio, x and height. I was expecting the width to be
calculated by itself.
I am giving this as the default value to display a box of fixed aspect
ratio. Is there any other way?

On Jan 19, 2018 5:54 PM, "Dominic Tobias" <notifications@github.com> wrote:

Hi, the documentation says you can either omit both of them, or include
them. I'm surprised this was working in 2.1.1 beca

[2018-01-19 15:44] DominicTobias commented on #155
Aha yes I get you now. This has unfortunately changed to be a bit less convenient than before.

Before state was internally maintained inside the component - so the crop was copied to state, and internally it would figure out the missing width or height.

Making this a "pure" component has some nice advantages, but it means that you need to tell it both width and height.

To do this you should ins

[2018-01-19 17:08] aanchalgera commented on #155
Sure. I will do it this way then. Thanks for the prompt reply :)

On Jan 19, 2018 9:14 PM, "Dominic Tobias" <notifications@github.com> wrote:

[2018-01-22 15:43] saveliy-kremen opened #156 "Initial image preview"
I am init component:
`  onImageLoaded(image) {
    this.setState({
      crop: makeAspectCrop(
        {
          x: 0,
          y: 20,
          aspect: this.props.widthPreview / this.props.heightPreview,
          width: 100,
          keepSelection: true
        },
        image.width / image.height
      )
    });
  }`

But onCropComplete return hole image, not cropped area.
If change croppe

[2018-01-23 12:50] saveliy-kremen commented on #156
This issue can be closed. Everything works well. It was decided by adding the code to
onImageLoaded(image):
`  onImageLoaded(image) {
    const crop = makeAspectCrop(
      {
        x: 0,
        y: 20,
        aspect: this.props.widthPreview / this.props.heightPreview,
        width: 100,
        keepSelection: true
      },
      image.width / image.height
    );
    const pixelCrop = {
      x

[2018-01-23 21:34] DominicTobias commented on #156
Hi, just wondering what the reason for calling `onCropComplete` manually here is?

[2018-01-24 07:07] saveliy-kremen commented on #156
Hi, it was necessary to get the cropped image by default, without changing the crop area.

onCropComplete(crop, pixelCrop) {
	const canvas = document.createElement("canvas");
	canvas.width = pixelCrop.width;
	canvas.height = pixelCrop.height;
	const ctx = canvas.getContext("2d");
	ctx.drawImage(
	  this.props.originalUploadFile.file,
	  pixelCrop.x,
	  pixelCrop.y,
	  pixelCrop.width,
	  pixelCrop

[2018-01-25 03:31] hrh94 opened #157 "This plug-in doesn't work on the mobile H5"
What parameters do I need to set up

[2018-01-25 04:58] hrh94 commented on #157
[Intervention] Unable to preventDefault inside passive event listener due to target being treated as passive. See <URL>

[2018-01-25 12:48] skv-headless commented on #157
How it looks in console

<img width="682" alt="screen shot 2018-01-25 at 18 12 32" src="https://user-images.githubusercontent.com/1488195/35388836-5f5aa23a-01fb-11e8-9f98-3ec170f2d495.png">

https://www.chromestatus.com/features/6131337345892352

As I understood chrome now wants `{passive: false}` explicitly.
https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Parameters

[2018-01-25 19:42] DominicTobias commented on #155
Np, closing, let me know if you have any issues with it

[2018-01-25 19:42] #155 closed

[2018-01-25 19:43] DominicTobias commented on #156
Aha ok I get it, glad you solved it!

[2018-01-25 19:43] #156 closed

[2018-01-25 19:44] DominicTobias commented on #157
Aha, thanks @skv-headless, I'll make a patch update

[2018-01-25 20:24] DominicTobias commented on #157
When you have time please try v3.0.10 @hrh94

[2018-02-08 09:17] bennyhan9 opened #159 "Consider to convert the code to ES5"
The library isn't transpiled correctly to es5,

you get error:
**Unexpected token
You may need an appropriate loader to handle this file type**

[2018-02-08 15:44] DominicTobias commented on #159
Hi,

How are you including this library? It's already pointing to the compiled ES5 module at https://github.com/DominicTobias/react-image-crop/blob/master/dist/ReactCrop.js if you include it the normal way.

[2018-02-08 15:58] DominicTobias commented on #157
I'm closing this but let me know if there are any problems, should be fixed with 3.0.10

[2018-02-08 15:58] #157 closed

[2018-02-08 15:59] DominicTobias commented on #150
Hm strange, are you guys using webpack/babel in your projects or something else?

[2018-02-11 19:24] bennyhan9 commented on #159
i include it this way:
const ReactCrop = require('react-image-crop/dist/ReactCrop');

and it now work without any error, thanks.

[2018-02-11 19:24] #159 closed

[2018-02-11 19:35] DominicTobias commented on #159
OK strange! The "main" entry in package.json points to that file so it shouldn't be necessary

[2018-02-12 03:48] jimmyhales opened #160 "pixelCrop Not Set Until Change Occurs"
I have a special case where I configured the crop tool default location and size to be exactly where it needs to be for my collection of images, all the same size. Ideally I could open with the cropper and hit save, but even though the crop tool appears like it's going to crop the image, no pixelCrop item has been created because nothing has changed after loading the image. This causes the image t

[2018-02-12 09:44] AlexandrWade opened #161 "Drag events"
Hello @DominicTobias thanks for your work.

Can you please improve onDragStart and onDragEnd events and make them work on real drag event not just mousemove event on whole document because now onDragStart triggers reapitedly when I just move my mouse

[2018-02-13 03:45] countingSta opened #162 "How to write the declaration document with typescript?"

[2018-02-15 17:57] DominicTobias commented on #160
The component is now pure and driven by props, it doesn't maintain state internally. This allows for greater simplicity, more control (controlled component vs uncontrolled), but also means it doesn't internally set an aspect ratio when the image is loaded.

In your case you can listen for `onImageLoaded` and crop from there, something like:

[code]

[2018-02-15 18:01] DominicTobias commented on #160
*Or, if like you're saying you need to calc the ratio:

[code]

[2018-02-15 18:04] DominicTobias commented on #162
Hi can you add more detail, I'm unfamiliar with TS?

[2018-02-18 06:46] jimmyhales commented on #160
Thank you for this. Now that I see how you created the pixelCrop from the
crop upon onImageLoaded I'm surprised I didn't think of this.

This does what I needed it to do. Thanks!

On Thu, Feb 15, 2018 at 11:01 AM Dominic Tobias <notifications@github.com>
wrote:

[2018-02-18 18:02] DominicTobias commented on #160
Great, glad you got it working!

[2018-02-18 18:02] #160 closed

[2018-02-18 18:08] DominicTobias commented on #161
What's your reason for not wanting it? All crop libraries that I know of use this method. What API or event are you referring to? The (HTML_Drag_and_Drop_API)[https://developer.mozilla.org/en-US/docs/Web/API/HTML_Drag_and_Drop_API] one isn't suitable for this.

It has to be for the whole document so that you can carry on dragging the shape when outside the crop bounds (imagine you drag the cursor

[2018-02-21 03:15] tonysk opened #163 "Can change the shape from Rectangle to Circle?"

[2018-02-21 19:48] virgofx commented on #163
#137 - Just use CSS.

/close

[2018-02-23 10:43] firaskrichi opened #164 "Is there a way to limit the file size of the final cropped image?"
Sometimes a 5MB file when cropped for example can be a little bigger. Is there a way to limit the size of the final cropped image not to exceed 5MB for example?

Thanks!

[2018-02-23 21:25] DominicTobias commented on #164
Hi, are you uploading that data to the server? Are you uploading the cropped canvas data?

[2018-02-23 21:26] #163 closed

[2018-02-25 04:32] hrh94 commented on #164
At the same time, the selected picture has 5M, but the image is compressed by react-image-crop, so that only 500K is uploaded to the server

[2018-02-25 15:35] DominicTobias commented on #164
I'm not exactly sure what you mean, but you have two choices:

1) Upload the original image once, and only send crop parameters to the server.
2) Reduce the image size when mapping it to canvas, and also you can reduce the image quality (google for this)

[2018-02-26 11:07] firaskrichi commented on #164
@DominicTobias sorry for the late reply.

Yes I am uploading the copped canvas data to the server. My question is, does the cropped canvas data file size exceed the original file size, and is it possible to reduce the quality of the cropped canvas data to never exceed a certain file size

[2018-02-26 11:12] DominicTobias commented on #164
This is more of a question for google, I have reduced the image quality of an image before but I can't remember the implementation details. Try searching something like "javascript reduce canvas image quality", there are quite a lot of solutions and answers on stackoverflow etc e.g. https://stackoverflow.com/questions/18922880/html5-canvas-resize-downscale-image-high-quality

[2018-02-26 11:13] firaskrichi commented on #164
Great thanks @DominicTobias !

[2018-02-26 11:13] #164 closed

[2018-03-03 12:51] GoodGuyMarco opened #165 "Custom parameter to onChange(crop, pixelCrop)"
How can I pass a custom parameter to the onChange function?

[2018-03-03 13:09] GoodGuyMarco commented on #165
`
onCropChange = (crop, pixelCrop, imageName) => {

        console.log(crop, pixelCrop);

        this.setState({
            croppedImages: {
                ...this.state.croppedImages,
                [imageName]: {
                    crop: crop,
                    pixelCrop: pixelCrop
                }
            }
        });
    };

    renderPreview = () => {
        const {droppedImage

[2018-03-03 13:11] DominicTobias commented on #165
You can move the arrow bind to your map and pass what you like there:

[code]

[2018-03-03 13:17] GoodGuyMarco commented on #165
Thank you! I'm dumb.

[2018-03-03 13:18] DominicTobias commented on #165
No prob!

[2018-03-03 13:18] #165 closed

[2018-03-14 12:45] Blah237 opened #166 "Crop doesn't change no matter what pixelCrop is"
I'm using the following function to get my cropped image--no matter what pixelCrop is (I have verified pixelCrop is getting set correctly), the drawn image is a full copy of the original image, not cropped at all.

[code]

[2018-03-14 12:52] DominicTobias commented on #166
Hi, my first thought is that you're doing appendChild instead of replacement, and due to some css you have there your new canvases are going underneath the first one

[2018-03-14 12:58] Blah237 commented on #166
I just got it--I had appendChild(img) instead of appendChild(canvas). The above code works--thank you!

[2018-03-14 12:58] #166 closed

[2018-03-26 10:51] MaciejM92 opened #167 "Rounding issues in getPixelCrop"
Hi, good job with the lib! I think I have an idea for improvement as it comes to outputting the pixel values in `onComplete` callback. Right now it is possible to receive boundaries outside of the original image surface:

1. Use image 1000px width and 666px tall
2. Try to crop with 16/9 ratio, full width
3. Place the crop area to the very bottom

The problem here is that when using `Math.round` yo

[2018-03-26 11:09] DominicTobias commented on #167
Hi,

Thanks for raising this good point. Your solution sounds good, or
alternatively clamping the width and height to remain in bounds as we have
the image node (clamp(x + width), imageWidth)). But off the top of my head
I think your idea would work too, will give it a think

On Mon, 26 Mar 2018 at 11:51, MaciejM92 <notifications@github.com> wrote:

[2018-03-27 08:28] DominicTobias commented on #167
Should be fixed in 3.0.11

[2018-03-27 08:30] MaciejM92 commented on #167
🎉 Thank you!

[2018-03-28 15:55] #167 closed

[2018-03-28 15:56] DominicTobias commented on #150
Closing due to inactivity

[2018-03-28 15:56] #150 closed

[2018-03-28 15:56] DominicTobias commented on #146
Closing due to inactivity

[2018-03-28 15:56] #146 closed

[2018-03-28 15:56] DominicTobias commented on #140
Closing due to inactivity

[2018-03-28 15:56] #140 closed

[2018-03-28 15:57] DominicTobias commented on #147
Hi, is the scroll being reset as you're dragging a crop, or just when you're scrolling down the page?

[2018-04-01 18:29] GoodGuyMarco opened #168 "Crop selection not showing on image altough crop object looks fine"
It worked before and appeared suddenly. Although my crop object looks fine
[code]
the selection is not shown on the image. I'm clueless. Is it possible that it's a CSS issue or something?

[2018-04-01 18:31] #168 closed

[2018-04-05 13:12] danielasy commented on #162
Hi, if there's any interest, I can try to write the type definitions for this library 🙂 I've used it in a component for TypeScript project a while ago

[2018-04-05 15:17] DominicTobias commented on #162
Hi Danielasy if you’d like to then that would be great!

[2018-04-06 11:12] chemitaxis opened #169 "Enable container zoom scaled"
Hi, we have one container that is transformed with css with scale. We need to add a delta to calculate the correct position of the mouse. I have enabled it. The PR is incoming.

Thanks.

[2018-04-06 17:12] DominicTobias commented on #169
Hi thanks for the PR but I’m not sure if anyone else will find this useful!
Out of curiosity why are you zooming the container with css?

On Fri, 6 Apr 2018 at 12:21, Chema <notifications@github.com> wrote:

[2018-04-06 19:41] chemitaxis commented on #169
For example, in our app, we have a page that have a zoom, and the container div is scaled when yo make zoom ;)

[2018-04-09 08:33] DominicTobias commented on #169
This sounds very niche, I've not come across anyone who is using this with scale so not sure about increasing the API surface area for one use case, sorry! I'm still curious why your app has a zoom feature, the use can some the whole page in? I'm wondering why you don't make the container the width and height that you intend it to be without zooming?

[2018-04-09 08:46] chemitaxis commented on #169
Hi Dominic! No problem, we have move the ReactCrop outside the container...
you can close the PR now. Thanks!

El lun., 9 abr. 2018 a las 10:34, Dominic Tobias (<notifications@github.com>)
escribió:

[2018-04-09 08:47] DominicTobias commented on #169
Cool glad you solved it! Thanks for the PR anyway

[2018-04-09 08:47] #169 closed

[2018-04-09 10:57] YvanGuidoin commented on #162
I would also appreciate, as I'm using react-image-crop in a project that we're moving to typescript (Thanks @DominicTobias btw for your work).

To be compatible with typescript, you only need a declaration file for the interfaces of the component (like `PropTypes` but more powerful) and a line in your `package.json` to precise to the typescript compiler where to find the declaration file

[2018-04-10 14:19] omygodGIT commented on #78
What alternative did you use?

[2018-04-10 15:13] DominicTobias commented on #78
@omygodGIT it's now using a large box-shadow - https://github.com/DominicTobias/react-image-crop/blame/master/lib/ReactCrop.scss#L53

Drawback of this method in this case is that the container needs `overflow: hidden` so the drag handles can't appear outside the container when dragged to the edges

[2018-04-19 10:44] yashcr07 opened #171 "Pass className & imageClassName as a prop ?"

[2018-04-30 20:02] danielasy commented on #162
Hello all, it took a while but I opened a PR at DefinitelyTyped. Feel free to check it out: [https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25431](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25431)

[2018-05-01 16:43] shaneharter opened #173 "Issue with scrolling on drag start and clear selected area"
Hello,

Thank you for your work here. I could not find a Donate button but will gladly support the project if I use it in production.

My issue comes when testing ReactCrop on a large image (1295 x 3423). When I start a drag, or clear the selected area with a click the screen is automatically scrolled to the top of the image. This only happens once on each of the events. I looked through the code

[2018-05-01 17:39] DominicTobias commented on #173
Hi, thanks for the kind words.

I actually can't replicate your issue on Chrome 65 macos. Here's what I did:

- `npm start` in this repo.
- open demo/index.html
- Used a 1900x3000 (tall) image
- Drew a crop and scrolled to bottom as I was drawing it to make it a lot longer than screen viewport
- Observed no scroll changes
- Click the two "Programatically set..." buttons at the button too and obser

[2018-05-01 19:03] shaneharter commented on #173
I can re-create in your example if I move the crop-editor down the page a bit. I would fork to show you but it's a 1 LOC change:

-  <div id="crop-editor"></div>
+  <div style="height: 100px">Space Goes Here</div>
+  <div id="crop-editor"></div>

[2018-05-02 16:27] DominicTobias commented on #173
Here's what I'm doing:

https://im5.ezgif.com/tmp/ezgif-5-fa9d632dac.gif

[2018-05-02 16:37] shaneharter commented on #173
![](https://media.giphy.com/media/fMzxX4uHiVpz0F5vsf/giphy.gif)

[2018-05-04 20:42] philwinkel commented on #171
would be nice, i have been writing styles that overwrite the css provided with the component

[2018-05-15 16:01] eoghanmccarthy opened #174 "Image not scaling responsively both width & height"
Hello

ReactCrop container doesn't seem to be containing the img (ReactCrop__image) when scaling. I can have it scale at smaller sizes but when the ReactCrop container height reaches my component height ReactCrop__image continues to grow.

Is there any CSS examples where the container, image and crop selection all scale proportionally and when boundaries are met all 3 stop scaling? My latest attem

[2018-05-15 16:26] eoghanmccarthy commented on #174
I got it. Good to know if anyone else is interested. Change ReactCrop__image to:

[code]

[2018-05-16 21:44] ibc opened #175 "Is it responsive for mobile and does it allow zoom?"
Hi, just about testing this lib. Just a few questions, please:

* Is `react-image-crop` ready for mobile browsers?
* Does it allow zoom in/out by pressing with two fingers (similar to the Whatsapp avatar editor)?

[2018-05-20 06:37] andychisholm commented on #173
+1 I'm seeing the same problem. Similar issue raised back in Aug, 17:
https://github.com/DominicTobias/react-image-crop/issues/111

Scroll only occurs if the component is below the current scroll height. I.e. if you scroll past the top of the component and then begin cropping, no scrolling will happen. Otherwise, if you're scrolled above the top of the component, the component will snap to the top

[2018-05-20 07:19] andychisholm commented on #173
The culprit appears to be auto-focus on the component, i.e.:
https://github.com/DominicTobias/react-image-crop/blob/master/dist/ReactCrop.js#L716

[2018-05-20 07:48] shaneharter commented on #173
Correct, I've fixed it temporarily by adding this... have not found time to PR yet (this project is still under development)

[code]

[2018-05-20 08:13] DominicTobias commented on #173
Great find Shane! I’ve had trouble replicating this in the past but Andy’s
instructions sound clear and will give it a go and checkout this property
you found 👌

On Sun, 20 May 2018 at 08:48, Shane Harter <notifications@github.com> wrote:

[2018-05-20 21:35] ibc commented on #175
Thanks. However I didn't mean the "meta tags" based zoom but the ability to zoom the image being cropped dynamically.

[2018-05-22 19:11] DominicTobias commented on #173
Released in v4.0.0 let me know if you have any problems, as mentioned this is only a breaking change for people who had overridden `$mobile-media-query` scss variable

[2018-05-22 19:11] #173 closed

[2018-05-22 19:11] DominicTobias commented on #174
Released in v4.0.0 let me know if you have any problems, as mentioned this is only a breaking change for people who had overridden `$mobile-media-query` scss variable

[2018-05-22 19:11] #174 closed

[2018-05-22 19:12] DominicTobias commented on #171
Released in v4.0.0 let me know if you have any problems, as mentioned this is only a breaking change for people who had overridden `$mobile-media-query` scss variable. However only `className` is supported, if you want to target nested items use the parent class.

[2018-05-22 22:59] andychisholm commented on #173
Awesome, thanks @DominicTobias!

[2018-05-23 03:57] hamczu commented on #174
I have an issue with that change. CSS autoprefixer breaks the build with the error:
"Replace fill-available to stretch, because spec had been changed"

I believe the reason for that and potential fix is well described here:
https://github.com/postcss/autoprefixer/issues/1035

[2018-05-23 07:49] DominicTobias commented on #174
Thanks @hamczu will publish a patch fix shortly

[2018-05-23 07:56] DominicTobias commented on #174
Thanks @hamczu this has been published now at 4.0.1, please let me know if that fixes your issue

[2018-05-23 07:58] DominicTobias commented on #147
This has been fixed in v4 now

[2018-05-23 07:58] #147 closed

[2018-05-23 08:00] DominicTobias commented on #161
Closing due to inactivity

[2018-05-23 08:00] #161 closed

[2018-05-23 08:17] hamczu commented on #174
@DominicTobias fixed! thx a lot!

[2018-05-30 02:38] Whyves opened #176 "Autoprefixer issues warning on fill-available in SCSS file (v4.0.1)"
Hi,

I'm compiling the scss file using webpack and the autoprefixer issues a warning on line 40:

 `max-height: -webkit-fill-available;`

I noticed that you did change the fill-available to stretch on version 4.0.1 but I guess that autoprefixer doesn't care that it's already prefixed properly.

Since you're also using webpack to compile the project, any reason why you're not letting it autoprefix

[2018-05-30 16:50] bogdansoare commented on #176
also having this issue
[code]

[2018-05-30 18:38] DominicTobias commented on #176
Hi the project at the moment is using `node-sass` and the css isn't loading via webpack (through the JS file). I will keep in mind to see if I can get auto prefixing working with `node-sass` for a future release.

However that won't help @bogdansoare issue at least, since the error is coming from the css file, and I'm not really sure why as I followed the output that autoprefixer supposedly genera

[2018-06-01 12:15] Whyves commented on #176
@DominicTobias , Thanks for considering it. In the mean time, I copied the scss file, removed the offending lines and prefix it via webpack so this solve my immediate needs. Just it would be nice to be able to use the files that are part of the package :-)

[2018-06-01 13:10] csuich2 commented on #176
I hit this same issue but worked around it by putting

[code]

before my @import. *Maybe* this is causing problems I don't notice, but things seem to work fine.

[2018-06-01 16:12] DominicTobias commented on #176
If one of you doesn't mind please try putting `/* autoprefixer: off */` in the scss file here:

[code]

[2018-06-01 18:19] nypinstripes opened #178 "No default export found in module import/default"
Hey @DominicTobias this lib looks great & really want to use it, but when i try to import it into my components i'm getting this error

error  No default export found in module  import/default

![screen shot 2018-06-01 at 2 18 28 pm](https://user-images.githubusercontent.com/1851296/40856705-c5ec2672-65a6-11e8-9e60-55513cdb114a.png)

any advice would be appreciated thanks.

[2018-06-01 18:29] DominicTobias commented on #178
What JS bundler are you using?

[2018-06-01 18:35] nypinstripes commented on #178
@DominicTobias  webpack 4.10.2 , wild card import with the alias seems to give a parsing unexpected token error.

[2018-06-01 18:37] nypinstripes commented on #178
@DominicTobias sorry that's if i use the braces, without the braces i get a no exported names found in module.
![screen shot 2018-06-01 at 2 36 15 pm](https://user-images.githubusercontent.com/1851296/40857481-49f6d1fe-65a9-11e8-9df9-55d333725002.png)

[2018-06-01 18:38] DominicTobias commented on #178
If you console.log ReactCrop what does the browser say? There are definitely things exported from that module!

[2018-06-01 18:44] nypinstripes commented on #178
@DominicTobias i get the RC object, maybe a linter settings issue?

<img width="1183" alt="screen shot 2018-06-01 at 2 43 28 pm" src="https://user-images.githubusercontent.com/1851296/40857817-4993c20c-65aa-11e8-824f-a976fa2d96b2.png">

[2018-06-01 18:46] DominicTobias commented on #178
I'm quite surprised about seeing most of those there as I'm only exporting a few of them but shouldn't do harm. I can also see `default` there so I would expect `import ReactCrop from 'react-image-crop'` to also work, if you console log that does it work?

[2018-06-01 18:49] nypinstripes commented on #178
<img width="1045" alt="screen shot 2018-06-01 at 2 48 41 pm" src="https://user-images.githubusercontent.com/1851296/40858024-f0d24e58-65aa-11e8-94c9-e7f27ed4dd5d.png">

@DominicTobias

[2018-06-01 18:51] DominicTobias commented on #178
Ok so it's working, was wondering why more people weren't complaining 😅Seems there is something up with your eslint config. Try removing it from the project, updating eslint globally, and running `eslint --init`

[2018-06-01 19:05] nypinstripes commented on #178
@DominicTobias that might work, but unfortunately i have to keep it in my project, for the time being im fine with just having eslint ignore the line, and continue on my way.. thanks again

[2018-06-01 21:53] DominicTobias commented on #178
No prob

[2018-06-05 14:12] michelpm1 opened #179 "src not accepting blob file"
Hello, I'm trying to use your component with a blob file, it's wrote in the documents it's supposed to accept it.

The problem it's not accepting. Follow my error log:

My code:

Appreciate any help, really would like to use your component.

[2018-06-05 17:15] DominicTobias commented on #179
Hi you need to create a url from your blob: `const blobUrl = URL.createObjectURL(blob);` and pass `blobUrl` in instead.

[2018-06-05 19:14] michelpm1 commented on #179
I add a observation to readMe file to let people know how to use the component with blob file

[2018-06-05 19:33] DominicTobias commented on #162
This has been merged now so closing, thanks @danielasy

[2018-06-05 19:33] #162 closed

[2018-06-05 19:43] DominicTobias commented on #179
Thanks but I don't want to make the Readme larger than it needs to be but I will change the wording to "blob url" from "blob path" (note I said path not object) hopefully that's obvious enough. Closing this but let me know if you have any issues using a blob url.

[2018-06-05 19:43] #179 closed

[2018-06-07 11:34] raphaelbeckmann opened #181 "Exif orientation/rotation is being ignored"
If the image is rotated or flipped via Exif data, this information is not taken care of. As a result, the image is not shown properly in the cropper.

Example images: https://github.com/recurser/exif-orientation-examples

[2018-06-07 19:07] DominicTobias commented on #181
What do you mean by not shown properly? All this library does is pass the image source into an image `src` tag.

[2018-06-08 10:31] raphaelbeckmann commented on #181
Try loading one of the rotated images of the given link into the cropper, e.g. Landscape_6.jpg, and you will see what I mean by saying "not shown properly".

[2018-06-08 12:34] bartoszboruta commented on #181
I can confirm that, for example image captured from iphone:
vertical: is in exif orientation 6
horizontal: in exif orientation 1
cropping doesn't work correctly.

https://imgur.com/a/7o6TRBo There is a screenshot, at up left corner You can see image uploaded from iphone (made in vertical phone orientation), at bottom is canvas with crop

[2018-06-08 17:42] DominicTobias commented on #181
Sorry I'm still not sure what I'm supposed to be seeing here, Landscape_6 is rotated right? If I look at in GitHub or if I add it to my crop I get the same result?:

![screen shot 2018-06-08 at 18 41 17](https://user-images.githubusercontent.com/760314/41172398-a98413a0-6b4b-11e8-9590-40a454a1a6fb.png)

[2018-06-11 12:42] bartoszboruta commented on #181
@DominicTobias Try to get result in canvas as u showed in example. Image in canvas is displayed in another orientation than in <img>

[2018-06-11 12:44] DominicTobias commented on #181
@bartoszboruta so which one is correct?

[2018-06-12 08:30] bartoszboruta commented on #181
@DominicTobias yes, canvas on ios is in different orientation that original <img>, and when you crop image which is vertical on <ReactCrop>, cropped fragment is in horizontal orientation, so the cropped fragment is not same as you chose

[2018-06-12 11:07] DominicTobias commented on #181
So it sounds like a bug with the browser. This library doesn't do anything special it just displays the image source in an `<img>` element and by the looks of it the orientation is correct. If you think canvas isn't displaying the right orientation that isn't a result of this library.

From a google search and answers like this https://stackoverflow.com/questions/20600800/js-client-side-exif-orien

[2018-06-12 11:07] #181 closed

[2018-06-20 20:38] acbabis opened #183 "How to get the initial value of `pixelCrop` if user uses default selection"
In my application, I'm using `onImageLoaded` to center to the crop window on the image. It is possible that the user will not have to move the crop. If the user submits the form without clicking on the image, is there a way to get an instanceof `pixelCrop`?

[2018-06-20 21:12] acbabis commented on #183
Figured it out. I was able to import `getPixelCrop` and invoke it in `onImageLoaded` after computing the initial value of `crop` to get the initial value of `pixelCrop`. If I made a PR for demonstrating this use case in the README.md, is it likely to be accepted?

[2018-06-21 17:13] DominicTobias commented on #183
Thanks but no need for a PR, something like this has only come up twice in a few years. However I will document the other functions like `getPixelCrop` in the README thanks.

[2018-06-21 17:13] #183 closed

[2018-06-22 08:28] valkheim opened #184 "onError handler ?"
Is an `onError` handler bound to the `img` on the roadmap ?

In my application, I retrieve urls that may be wrong ad I'd like to listen to such event to display a generic image instead.

[2018-06-22 09:20] DominicTobias commented on #184
Hi this seems like a reasonable thing to have, I'll add it in the next release. I'm on holiday from today but might have some time to do it, otherwise it will have to wait 2-3 weeks

[2018-06-22 10:44] #184 closed

[2018-06-25 15:27] de83c78d1f opened #186 "How to programmatically set free aspect?"
Assume I have a panel with buttons. Those buttons set aspect ratio of a crop.
For now it looks like this: I press a button, e.g.
[code]
which gives my component a value of desired aspect ratio of the crop.
Then I resolve given value to get numeric value of desired aspect, like here:
[code]
On receiving new aspectRatio from control panel with buttons this code executes:
[code]
This logic works perf

[2018-06-25 23:01] DominicTobias commented on #186
Hi this sounds like it could be a bug you should be able to do it. I’m away
for two weeks so I’m not going to be able to look at it until I’m back
though!

On Tue, 26 Jun 2018 at 00:28, de83c 78d1f <notifications@github.com> wrote:

[2018-06-26 08:58] de83c78d1f commented on #186
I guess i spotted the problem. [ReactCrop.js](https://github.com/DominicTobias/react-image-crop/blob/master/lib/ReactCrop.js#L71), function:
[code]
In this function lots of arithmetic operations are performed with crop.aspect, w/o check on `undefined`. Those silently return `NaN` (not sure why silently).
In my case I changed `componentWillReceiveProps` block in the following fashion:
[code]
Essent

[2018-06-26 10:39] DominicTobias commented on #186
Thanks for investigating it I’ll take a look when I’m back 👍

On Tue, 26 Jun 2018 at 17:58, de83c 78d1f <notifications@github.com> wrote:

[2018-07-12 19:40] toddmyphoto commented on #92
Hey @djfdev
I'm using this library and doing rotation as well. I created a rotation button that rotates by -90 deg (although you could create a slider or other controller that does in smaller increments). I then update my rotation in state and pass that through to the ReactCrop component as imageStyle props. If I pass a `{transform: 'rotate(' + this.state.rotation + 'deg)'}` to the imageStyle prop

[2018-07-20 02:34] toddmyphoto opened #187 "Add rule-of-third lines while cropping"
A few other cropping libraries allow you to hide and show rule-of-third lines while cropping (dragging the crop area, drawing a new one, or dragging a handle). Would love to see that feature in this library.

[2018-07-26 14:17] DominicTobias commented on #186
This will be in the next release

[2018-07-26 14:17] #186 closed

[2018-07-29 11:40] DominicTobias commented on #176
Released in 4.0.2

[2018-07-29 11:40] #176 closed

[2018-08-01 21:48] jjm340 opened #188 "pixelCrop comes back as NaN when setting initial width/height"
If the component is initialized with a percentage for width/height, then the second param to onChange and onComplete always comes back with all NaNs for x, y, width, and height.  What up with that?

[2018-08-01 22:01] DominicTobias commented on #188
Hi can you post your code? Also check the working demo linked in the Readme
at the top of you’re stuck.

On Wed, 1 Aug 2018 at 22:48, Jeremy Miller <notifications@github.com> wrote:

[2018-08-01 22:16] jjm340 commented on #188
Actually turns out we were using this incorrectly, thanks for the help!  A recommendation though:  An error message would be nice to say that the wrong values were passed and x, y, width and height can't be computed as a result.  Just my opinion.

[2018-08-01 22:16] #188 closed

[2018-08-05 08:44] niftykins opened #189 "Doesn't show anything if any parent uses `display: grid;`"
If there's a parent that uses `display: grid;` then this library doesn't seem to render anything. I think it may have something to do with the `max-height: -webkit-fill-available;` that's set on the img, as when I uncheck that it everything shows up.

Changing everything from Grid and adapting it to use Flexbox makes it work also.

https://codesandbox.io/s/ryz8x7j8xq

After a little more testing i

[2018-08-05 21:13] virgofx opened #190 "4.0.2 Dist Build Is Broken as result of latest ES6 build changes"
The changes for the ES6 build no longer work when including ReactImageCrop statically

<Removing bad copy/paste ... see below>

Last working build 4.0.1

[2018-08-05 21:44] virgofx commented on #190
Sorry wrong copy paste:

4.0.1:
[code]
window.ReactCrop
{ReactCrop: ƒ, default: ƒ, getPixelCrop: ƒ, makeAspectCrop: ƒ, __esModule: true}
[code]

[2018-08-06 17:12] DominicTobias commented on #190
Interesting, I wonder how you would access other exports with the < 4.0.1 version e.g. `getPixelCrop`!

[2018-08-06 17:25] virgofx commented on #190
For dist builds it needs to be accessed via property ... example below. The main export needs to be a component/function.

[code]

[2018-08-06 17:27] DominicTobias commented on #190
Right gotcha

[2018-08-06 17:40] DominicTobias commented on #190
Please try https://unpkg.com/react-image-crop@4.0.3/dist/ReactCrop.js @virgofx

[2018-08-06 18:01] virgofx commented on #190
Works! TY

[2018-08-06 18:02] #190 closed

[2018-08-14 15:10] LeahAtTock commented on #168
What was your eventual solution for this?

[2018-08-14 15:16] GoodGuyMarco commented on #168
Forgot to import the css file :laughing:

[2018-08-14 17:47] LeahAtTock commented on #168
Haha, yup, that fixed it for me. Thanks!

[2018-08-15 17:48] Rainbowlemon commented on #189
I've just come across the same issue. Temporary fix was to just add `max-height: inherit`.

[2018-08-16 08:31] DominicTobias commented on #189
Good catch, filling available height for normal situations is a good thing and fixes other issues people had so this is a shame. Will have to reproduce in a simple example and submit a bug to Chrome. As @Rainbowlemon says you can just reset that property for now.

[2018-08-23 12:44] kdekooter commented on #183
@acbabis @DominicTobias very interested in either the PR or the README update!

[2018-09-07 21:44] Osuriel opened #192 "no access to pixelCrop after setting default crop."
I need access to pixelCrop inside onImageLoaded function. how do I go about getting pixelCrop?

[2018-09-08 11:07] DominicTobias commented on #171
Hi `className` prop has been added, you can style elements further down based on that

[2018-09-08 11:07] #171 closed

[2018-09-08 11:08] DominicTobias commented on #192
Hi I've had this question before and it seems like a useful feature so as of 4.0.4 you can get it from the second parameter. Please let me know if it works/you have any issues. Thanks.

[2018-09-08 11:08] #192 closed

[2018-09-09 11:36] DominicTobias commented on #183
pixelCrop is now passed to onImageLoaded so this should be easier

[2018-09-10 10:53] grrowl opened #193 "Explodes when image loads when crop={ undefined } (before onChange fires)"
This is a regression since 3.0.11, and exists in 4.0.1—4.0.4:

Initially we pass `crop={ undefined }`, and update `crop=` only after `onChange` fires. Since at least 4.0.1, `react-image-crop` will crash in `onImageLoad`'s call of `getPixelCrop(image, this.props.crop)`, because at image load time `this.props.crop` is still `undefined` (because we haven't fired `onChange` yet with that value)

[2018-09-10 10:56] DominicTobias commented on #193
Thanks I'll put a fix in for this later today (no access to pc at the mo), this will be since 4.0.4 I think as previously pixelCrop wasn't passed to onImageLoaded

[2018-09-10 20:10] DominicTobias commented on #193
Fixed in 5.0.0. Please try it out and let me know if you have any issues.

[2018-09-10 23:58] grrowl commented on #193
legend, i'll try it out and report back

[2018-09-11 14:04] Osuriel commented on #192
I wrote this and it worked to get the pixelCrop:

const makePixelCrop = (imageWidth, imageHeight, xPercentage, yPercentage) => {
  const pixelCrop = {};
  pixelCrop.x = (imageWidth * xPercentage) / 100;
  pixelCrop.y = (imageHeight * yPercentage) / 100;
  pixelCrop.width = imageWidth - (pixelCrop.x * 2);
  pixelCrop.height = imageHeight - (pixelCrop.y * 2);
  return pixelCrop;
};

Maybe it could h

[2018-09-13 09:47] Rasbin commented on #178
To fix by supressing this error message, the following code should work.  But, there must be other better ways to solve this.

`/*eslint-disable */`

`//suppress all warnings between comments`
`import ReactCrop from 'react-image-crop';`

`/*eslint-enable */`

[2018-09-16 20:44] elektronaut commented on #187
Having built in support for this would be great, but it's also doable with CSS. Here's an example in SCSS:

[code]

If you want it just while manipulating the selection, change the rule to:
[code]

[2018-09-21 00:12] bhao-speedline opened #194 "To further Crop the cropped image would fail all the time"
I use the cropper in my project. When I crop the image, I draw the selected area to a canvas and then convert the canvas to a Blob. Then I use `URL.createObjectURL` to conver the Blob to a url and feed it to the cropper, so that I can further crop it. But when I try to crop it a second time, it would fail all the time. I either got a totally black image or a image that is not the area I selected.

[2018-09-21 00:12] adjourn opened #195 "Zoom feature?"
What do you guys think about zoom feature? Is it in the scope of this package? I did search around and I might not just know the correct keywords but I couldn't find any good alternatives to this package.

Example (use scrollwheel): https://fengyuanchen.github.io/cropperjs/

[2018-09-21 10:54] DominicTobias commented on #178
This is due to this module exporting using ES5 `module.exports`, when I tried to update it to ES6 exports it caused an issue when using this module globally so have to tread carefully. You can read about this issue here: https://github.com/benmosher/eslint-plugin-import/issues/558

Nothing is breaking but the only way to fix this is to export the module using ES6 `export`.

[2018-09-21 15:48] bhao-speedline commented on #194
@adjourn Thanks. I double checked and I'm sure the pixelCrop is correct. One thing I found is that it seems the image I got in the second crop is not a crop of the first crop, but a crop of the original image, even though the original image is replaced by the first crop. There must be a bug in my code and I will try to debug it. Thanks!

[2018-09-21 16:41] adjourn commented on #195
I already tested a simplistic solution, added this to div with class `ReactCrop`:

[code]

Zoom works fine but selection is way off, not sure what to change (yet). My provided example is a bit misleasing, Im actually not looking for something fancy and complex, zoom from image center works fine.

[2018-09-21 17:20] MastroLindus opened #196 "best fit with aspect ratio"
Hi,

first of all thanks for the library, works like a charm and it's really nice!

I have a question.
If I have an image and I have an aspect ratio, I would like to show the crop having that aspect ratio, and that at the same time crops the image in the optimal way, that is:
1)it grabs the biggest region using the aspect ratio (usually meaning that one of the dimension of the crop is the same as

[2018-09-21 18:42] TomasHubelbauer commented on #162
Would you consider merging the types in with this library and setting them up in `package.json`/`types` so that we don't have to install the `@types` package separately?

[2018-09-21 18:47] DominicTobias commented on #162
Hi we don't need to merge them we can simply declare them as a dependency in this module so you don't have to install them yourself as per this comment https://github.com/Microsoft/types-publisher/issues/81#issuecomment-234051338

If you want to make a PR for that I'd be happy to merge as I won't be able to do it until some time next week.

[2018-09-21 21:01] bhao-speedline commented on #194
I think I found the issue. But I don't know how to fix it. The issue is that, when I get the cropped image, I set the src of the ImageCropper to the new cropped image. Then when I try to use `document.getElementsByClassName("ReactCrop__image")[0]` to get the image element for cropping, I still get the old image element whose src is the old image. Does anyone have any thought? Thanks!

[2018-09-21 23:19] DominicTobias commented on #194
@bhao-speedline can you post that part of the code?

[2018-09-22 08:54] adjourn commented on #195
Closing the issue since this feature is not going to end up in `react-image-crop`.

[2018-09-22 08:54] #195 closed

[2018-09-24 12:12] toddmyphoto opened #201 "Corners difficult to drag on mobile"
Is there an easy way to implement pinch to zoom for mobile? With extensive testing, we're finding users really struggle to grab the cropping corners on mobile devices.

[2018-09-24 19:00] bhao-speedline commented on #194
I found the issue. There was one line of code which I thought was commented turned out to be not. That line reset the src of the HTMLImageElement back to the original uploaded image, and that caused failure of the second crop. Thanks! @adjourn @DominicTobias

[2018-09-24 19:04] DominicTobias commented on #194
Ok glad you found the issue, closing this now

[2018-09-24 19:04] #194 closed

[2018-09-24 23:27] bhao-speedline opened #202 "Initial Default Select Box not Visible on Mac"
In my image cropper, I set a default value for crop. It works fine on windows. I tried both Chrome and Firefox, the default select box would show immediately when the image is selected. But on Mac, the initial select box is invisible, both on Chrome and Safari. Does anyone know how to fix it? Thanks!

BTW, Mac OS version 12.0.

[2018-09-24 23:39] bhao-speedline commented on #202
By "immediately when the image is selected" I mean immediately when I click the upload button and select an image from my computer.

[2018-09-25 08:10] DominicTobias commented on #202
Please post your code, it normally works fine on Mac - https://github.com/DominicTobias/react-image-crop/blob/master/demo/demo.js

[2018-09-25 08:13] DominicTobias commented on #196
This doesn't sound hard but also something that doesn't need to be in the library. If you want to know if the image is portrait or landscape then listen for the onImageLoaded event. Depending on that set the width or height to 100 and then the other a ratio of that. Depending on that that variable side is set 'x' to center it.

[2018-09-25 08:19] MastroLindus commented on #196
Hi Dominic,

thank you for your answer.
It is not hard at all, I already implemented it in my own user-land code, and it works fine (and indeed I used the onImageLoaded as you also mentioned).
I just thought that an optional bestFit prop to initialize the crop size in case only the aspect property was set would have been quite an elegant solution to something that likely many people will want, as

[2018-09-25 08:19] #196 closed

[2018-09-25 08:20] DominicTobias commented on #193
Closing this as it shouldn't be exploding anymore

[2018-09-25 08:20] #193 closed

[2018-09-25 13:20] virgofx commented on #190
I'm not sure what you're trying to solve .. but this isn't how the industry publishes libraries. There is best practice for proper exports such that libraries can be used universally using Webpack and rollup... if it helps you could literally clone a lot of sample libraries that offer the library flavor for plugins for react. It needs to work globally so it can be included via UMD / browser / CDN.

[2018-09-25 13:27] DominicTobias commented on #190
I have looked at them and they are all exported as objects so actually this is going against standards:

http://jsfiddle.net/ferahl/q42wtdrg/2/

[2018-09-25 13:30] virgofx commented on #190
I'm not sure what the standards are and I don't follow the fiddle; however, if you browse libraries .. they all export multiple types --- including a UMD .. so we need UMD so leave it .. Just add what you need without impacting anything else.

[2018-09-25 13:30] virgofx commented on #190
The sources files don't have to change for the ES exports. Again, it can be reconfigured via rollup/ webpack.

[2018-09-25 13:32] DominicTobias commented on #190
The modules are still exported as UMD the export style isn't under question, as my SO question demonstrates nobody has the answer except perhaps exporting many build types and hoping that compilers read the correct one, which I don't really have the inclination to do since almost nobody uses global scripts and if they do it will work but they have to add `default` to it, something you would have t

[2018-09-25 13:55] DominicTobias commented on #190
Just tried most of the most popular react libs and only one of them exports as a function (ReactGridLayout) which is also the only one that uses module.exports from what I saw - http://jsfiddle.net/ferahl/q42wtdrg/17/

[2018-09-25 15:31] virgofx commented on #190
I wish I understood better (I'm not an export on export/import and what you're trying to achieve) ... All I know is that there should be a UMD version that is accessible to be imported via CDN (e.g. https://reactjs.org/docs/cdn-links.html) This allows application developers to **exclude** the specific librar(ies) ... and typically larger libraries from their application bundle and include it stati

[2018-09-26 01:48] grrowl commented on #193
sorry we haven't had a chance to bump it internally yet! thanks for your help :)

[2018-09-26 22:27] DominicTobias commented on #178
Fixed in v6.0.0

[2018-09-26 22:27] #178 closed

[2018-09-26 22:28] DominicTobias commented on #178
Note: import with `import ReactCrop from...` not `import * as ReactCrop from...` in v6

[2018-10-01 04:05] kidmysoul opened #203 "why I cannot drag and cannot crop ?"
I cannot use my mouse to drag and crop anything . what's get wrong ?

my code is like

`          <ReactCrop
            crop={{x: 10, y: 10, width: 10, height: 10}}
            onChange={() => {}}
            src={this.props.originalImage} />`

this.props.originalImage is a base64 image.

and the show up  is OK.

![2018-10-01 13 03 34](https://user-images.githubusercontent.com/15664045/46269200-9

[2018-10-01 05:41] kidmysoul commented on #203
Ok, I copied code from demo and it worked

[2018-10-01 08:58] #203 closed

[2018-10-03 22:27] rwschmitz opened #204 "Draw Cropbox Based on Application's State"
Hi!

I'm using your library in an application of mine.  You have it setup such that you're creating a cropping box when a user drags either their mouse (desktop) or finger (mobile) from the start location to the end location.

I was wondering, is it possible to draw the cropbox by pointing the `this.state.crop.width` and `this.state.crop.height` to a state that exists in a higher component in my a

[2018-10-03 22:30] rwschmitz commented on #204
![screen shot 2018-10-03 at 5 28 39 pm](https://user-images.githubusercontent.com/30060083/46443143-dd9a4500-c731-11e8-8f9e-fee4cd413fa7.png)

So basically, when I type 75 and 90 into the fields, I would like to be able to have a cropbox automatically draw with the dimension of 75 x 90.

I'm not sure how that's possible with access to the methods you provide of `onChange` and `onComplete`.

Thank

[2018-10-04 13:28] AlexDomsn opened #205 "rotate 90deg crop image on iPhone"
The image is rotated in iPhone either in Chrome or Safari. In Android is OK in PC is OK but in iPhone the image is auto rotated 90 grades.

[2018-10-04 14:19] DominicTobias commented on #205
As talked about here this is probably the browser ignoring xif rotation:
https://github.com/DominicTobias/react-image-crop/issues/181

All this library is doing is putting the image in a src tag so it’s not the responsibility of this library to try and fix browser behaviour with displaying images. If you put your image in an <img> tag and look on the phone you should see the same thing. Have a loo

[2018-10-04 21:44] hugofelp opened #206 "Selection not respecting minimum dimensions settings"
When you drag a selection from one corner past the diagonally opposite corner, the selection flips, respecting the set `minWidth` and `minHeight`, but when the selection is closer to the edge of the image than the min dimensions, it still flips, making the selection smaller than the allowed values.

I don't think this affects the described behavior, but just to provide an accurate description: my

[2018-10-08 18:02] DominicTobias commented on #204
Hi @rwschmitz, I would recommend shifting your state up some levels - either put it in global state (e.g. redux store), or put it higher up and pass it down as deep as you need:

- Parent - state can be here, it passes the state as `crop` and `onCropChage` and renders MiddleComponent e.g. `<MiddleComponent crop={this.state.crop} onCropChange={this.onCropChange} />`
- Middle component - your middle

[2018-10-08 18:04] rwschmitz commented on #204
Thank you!  I found your library to do what was needed and it is awesome.  Keep up the good work, man!  Closing.

[2018-10-08 18:04] #204 closed

[2018-10-08 18:17] DominicTobias commented on #201
If you haven't disabled it in the meta tags then all websites are by default zommable on phones. Otherwise by default the handles are 9x9, you could make them larger if you like.

[2018-10-08 19:00] DominicTobias commented on #202
Closing due to inactivity

[2018-10-08 19:00] #202 closed

[2018-10-09 14:53] MastroLindus opened #208 "Working with Javascript-image-load"
Hi,

as many others using this library, I also have issues with cropping mobile images that have orientation metadata.
I understand that this is not an issue specifically of this library, however it's kind of hard to work with the cropper in the current state, and I would like to ask if the library can help in my scenario.

Using the library javascript-load-image, I can successfully obtain a Canva

[2018-10-09 17:44] DominicTobias commented on #208
Hi,

I understand your pain but which to keep this library small and focused. However it could be achieved with a HOC which could be written for that purpose, though at the moment I'm busy with other stuff so tbh it's not likely to be written by me any time soon.

One thing that you can drastically improve though is changing your use of toDataURL to https://developer.mozilla.org/en-US/docs/Web/API

[2018-10-09 17:46] DominicTobias commented on #208
If this is performant the library could potentially export a utility function which maps the image to a canvas, fixes the rotation, and returns a blob url, but as I said it's not likely to happen soon from me!

[2018-10-09 17:48] MastroLindus commented on #208
Hi,

thank you for your answer first of all.
I understand that you are busy and that its out of scope of the library itself, so thank you for your answer anyway.
Once you have the blob, would you pass it to react-image-prop by using URL.createObjectURL ?

[2018-10-09 17:50] DominicTobias commented on #208
Yes exactly, remember to call URL.revokeObjectURL(url) on the previous one when you need to recalc it or you will have a memory leak

[2018-10-09 17:51] DominicTobias commented on #208
I think you could use the onImageLoaded callback to revoke it

[2018-10-09 17:54] DominicTobias commented on #206
Thanks I'll take a look at this but won't be immediately. Will update this when there is a fix.

[2018-10-09 18:36] MastroLindus commented on #208
Hi Dominic,

I managed to make it work, unfortunately the results are not that great.
Loading the image using javascript-image-load into canvas takes 70ms on my mobile, but then, to convert the canvas to a URL for react-image-crop:
toDataURL takes more 3.9seconds
toBlob uses 3.5seconds, that is better, but still just too slow, it is very very noticeable on the mobile, and it's a pity  especially s

[2018-10-09 18:42] DominicTobias commented on #208
Ah that's a shame, it's not that I'm against the idea of passing a canvas which is mapped to a div or some other solution, the issue is that will take time to test and I'm not sure how it will behave in terms of re-sizing to the container as a div behaves differently to an image element etc, the onImageLoaded/Error would obviously not be there and probably other things I haven't considered so ther

[2018-10-09 18:47] DominicTobias commented on #208
The advantage of toBlob over toDataURL is that it's async so you could potentially show a spinner rather than freezing the main thread of the window. Perhaps it's worth investigating uploading the blob to the server rather than converting it to a dataURL?

[2018-10-09 19:25] Sirbuland opened #209 "Read base64 of Cropped image"
I can read the base64 of full image but when cropping is complete how I can get the base64 of cropped image?

[2018-10-09 19:55] DominicTobias commented on #209
Hi take a look at the readme it shows you how to do it - https://github.com/DominicTobias/react-image-crop#what-about-showing-the-crop-on-the-client

[2018-10-09 19:58] DominicTobias commented on #208
By the way I forgot to mention I hope you're using `toDataURL('image/jpeg')` and `toBlob(callback, 'image/jpeg')` otherwise the conversion to a png (default) will be significantly slower.

[2018-10-10 06:38] MastroLindus commented on #208
With the jpeg type it is down at 2.5seconds. Not still fantastic, but I guess it's close to acceptable.

I guess that the proper solution would be indeed to allow react-image-crop to work on a passed in img/canvas as we discussed, but I understand its quite a big change and it won't happen anytime soon.

I just found other libraries that work that way and indeed it would be a better solution, but

[2018-10-10 07:13] DominicTobias commented on #208
Another thing that should bring it down to < 1 second is when you map the
image to the canvas you can resize it to be say a max of 1000 pixels.

Can you link to the other project please? Want to have a look at how their
canvas behaves when resizing.

On Wed, 10 Oct 2018 at 07:38, MastroLindus <notifications@github.com> wrote:

[2018-10-10 07:34] MastroLindus commented on #208
Sure,

I didn't try it, I only looked around yesterday night, but the one that looks like that allow you to pass a canvas to work on is https://github.com/fengyuanchen/cropperjs
It's not react-based, nor declarative, but it is actually imperative/event-based and I prefer your API, but it looks like they support this use case

[2018-10-15 22:52] HsuTimothy opened #210 "Cropped Image dimensions seem to be fixed regardless of what pixelCrop is"
Hi, doing this results in a fixed crop image dimension regardless of the values of `this.state.crop`

[code]

[2018-10-16 19:05] HsuTimothy opened #211 "Black sidebar inside the React-Cropper"
I've noticed that there's a black sidebar inside the cropper and I've tried multiple images but they all seem to still have this black sidebar.

`<ReactCrop src={this.state.src} crop={this.state.crop} onChange={this.onCropChange} onImageLoaded={this.onImageLoaded} />` I'm not changing any styles either :-(

https://drive.google.com/file/d/1wl84aZiBnpr8FGYiJHcNj6De2cB7MbnS/view?usp=sharing

[2018-10-18 04:47] alkunjo opened #212 "[Feature Request] Keep image mime type"
Hi @DominicTobias, thank you for the awesome works you had done. Since it helps me a lot on my react project :smile:

I was wondering is it possible for me to get the loaded image which I got from **onImageLoaded** event will return the loaded image as it is?
For example I try to input the **GIF** and **JPEG** image, when the image is loaded the mime type is changed to **PNG**. What I expect is th

[2018-10-18 18:14] DominicTobias commented on #212
Hi and thanks, I'm not sure what the browser does here but the library is just putting the source into img `src` tag and the onLoad event comes from the browser, I doubt I can change that. What code are you using to get the mime type? I'm wondering if there is a discussion about this somewhere else.

[2018-10-19 02:28] alkunjo commented on #212
I currently knowing that the mime type is always **PNG** after the image is loaded because I check on the image `src` which the source is a base64 decoded image with prefix like this
[code]
If that seems not possible, I'll try to change the mime type after the image loaded with the state with  then and see if it works

[2018-10-19 07:44] DominicTobias commented on #212
How are you converting your image to base64? I ask because if you use toDataURL without specifying mime type it defaults to PNG

[2018-10-19 23:59] ShanonJackson commented on #209
@DominicTobias, really appreciate all the work you've done on this to keep the file size small etc but that example you have doesn't even work to get base64 back. Here is a sandbox implementing your example.
https://codesandbox.io/s/04w6mvpwm0

It doesn't work because crop passes back percentage based X/Y but drawImage expects PX based X/Y on top of that even using a px based X/Y i still can't get

[2018-10-20 10:28] DominicTobias commented on #209
Hi @ShanonJackson the second argument to onChange is the pixel crop values, https://github.com/DominicTobias/react-image-crop#onchangecrop-pixelcrop-required try with that

[2018-10-20 16:02] alkunjo commented on #212
Hi @DominicTobias, I finally found the answer. It's actually my fault that I didn't recheck it sequentially on my code. I was assuming that when the image is loaded, it was your code that changes it into PNG base64 image. Yet when I inspect it by searching images on Google Image and use its **Copy Image** features and paste it into my **dropfile-like** component, Google provides it in PNG base64 i

[2018-10-20 16:02] #212 closed

[2018-10-20 16:51] DominicTobias commented on #212
Glad you found the cause, out of curiosity is it the code from my sandbox link/demo folder which takes a local file?

[2018-10-20 17:03] DominicTobias commented on #209
I've edited your example and will link to that on the readme instead - https://codesandbox.io/s/72py4jlll6

[2018-10-20 17:03] #209 closed

[2018-10-22 16:41] DominicTobias commented on #205
I'm closing this one and keeping #181 open, if you want to add something please add it there thanks

[2018-10-23 14:21] sujayjaju commented on #150
@DominicTobias

I am seeing the same thing. Though `import * as ReactCrop from 'react-image-crop' ` did not work for.
`onsole.log(ReactCrop)` returns an `object{}`

How can I help debug?

[2018-10-23 17:11] ssxv commented on #150
using a very specific version 5.0.0 worked for me.

[2018-10-23 17:16] DominicTobias commented on #150
@sujayjaju You shouldn't do `import * as` this will return an object of all exports, instead import the default export with `import ReactCrop from 'react-image-crop'` as per the ReadMe.

@ssxv How are you importing the component?

[2018-10-24 05:19] sujayjaju commented on #150
@DominicTobias Yes, I am using `import ReactCrop from 'react-image-crop'` - I also tried `import *` since that seemed to work for @danielasy

console log for ReactCrop return `Object {}` in both cases. The error states:
`Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object. You likely forgot to export your compon

[2018-10-24 06:52] sujayjaju commented on #150
So I tried deleting node_modules and doing a fresh install.
Got this error with ReactCrop:
[code]

@DominicTobias Does that provide a clue?

[2018-10-24 07:45] DominicTobias commented on #150
It seems like your build tool is picking up the `jsnext:main` entry which is ES6 code - https://github.com/DominicTobias/react-image-crop/blob/master/package.json#L7 instead of the normal "main" entry. I think I will remove that entry entirely as I've recently read it causes problems like this.

[2018-10-24 07:46] DominicTobias commented on #150
For now do `import ReactCrop from `react-image-crop/dist/ReactCrop`

[2018-10-24 07:58] DominicTobias commented on #150
@sujayjaju please try 6.0.1

[2018-10-24 09:04] sujayjaju commented on #150
@DominicTobias
Thanks for getting back so quickly. 6.0.1 works!

[2018-10-24 22:39] JavaMajk opened #213 "Changing crop to use aspect throws an error"
Using the following example code throws a type error:

[code]

[2018-10-25 16:03] tayan-serna opened #214 "pixelCrop on onImageLoaded is undefined"
I try to use the pixelCrop to set an initial state on the image just if the people doesn't want to do a new crop.
To do that I would like to use the pixelCrop instead of the image.naturalHeight/Width.

Here is an example of the solution and the logging result in google chrome

![image](https://user-images.githubusercontent.com/11379127/47514269-904b5800-d845-11e8-8100-5e55451f3a58.png)

![image](h

[2018-10-25 19:15] JavaMajk commented on #213
Quick solution was to wrap the ctx variables in another async/await but haven't yet looked into the tool code to see what might be causing the different rendering while using aspect

[2018-10-25 19:59] DominicTobias commented on #213
Nevermind I misread your issue, this happens because when using an aspect from it calls onChange and onCropComplete with the filled in crop so it gets set to state. This happens before the onImageLoad event so you can add a safeguard:

[code]

[2018-10-25 20:00] DominicTobias commented on #213
I will change the order of the calls so that this won't happen in `6.0.2`

[2018-10-25 20:02] JavaMajk commented on #213
Yeah perfect, thats about how I solved it. just got puzzled as it did not happen with just using height & width instead of aspect in the crop object. Thank you for your prompt reply @DominicTobias 💯

[2018-10-25 21:00] DominicTobias commented on #213
Released in 6.0.2 and updated sandbox demo, see note on setting image ref to state:

[2018-10-25 21:05] #213 closed

[2018-10-25 21:21] DominicTobias commented on #214
Hi, what's your question, why `pixelCrop` is undefined? It is undefined if you don't pass a crop into the component when you initialise it.

[2018-10-25 21:29] tayan-serna commented on #214
I'm trying to get an initial `pixelCrop`, so if the people don't change the current crop I could obtain a preview image.
I do actually have an initial crop
![image](https://user-images.githubusercontent.com/11379127/47531292-cb17b500-d872-11e8-8b56-5e58cf5f651e.png)

[2018-10-25 21:34] DominicTobias commented on #214
And you're setting `crop` on `ReactCrop` right? Refer to this working demo, look at the console log: https://codesandbox.io/s/mzjzvol4zy

[2018-10-26 13:09] anubhavr19 commented on #214
Please pass the **crop** props to the component like this **undefined** not showing in **console.log()**
[code]

You dont need set initial crop you just put crop inside state like this
this.state{(
[code]

**this.state.crop** will set your initial frame height, width, x, and  y

[2018-10-26 14:39] tayan-serna commented on #214
I already doing that.
![image](https://user-images.githubusercontent.com/11379127/47573436-edf1aa00-d902-11e8-9ca9-9a5b6910e5cd.png)

![image](https://user-images.githubusercontent.com/11379127/47573416-e16d5180-d902-11e8-9add-2b3c6e708757.png)

[2018-11-01 03:46] maxsize commented on #150
Hi guys, I have the same problem here, I am using ts in my project, after some research, I find that I have to do something like this to make it work:
`
import * as ReactCrop from 'react-image-crop';
render() {
  const Component = (ReactCrop as any).default;
  return (
    <Component src={src} ... />
  )
}
`
It seems like something is wrong in the definition file.
help this helps.

[2018-11-01 08:02] DominicTobias commented on #150
Hi Max, what version are you using?

On Thu, 1 Nov 2018 at 03:46, Max <notifications@github.com> wrote:

[2018-11-02 15:38] abel30567 commented on #208
I tried to do this using this sample. https://github.com/codingforentrepreneurs/Try-Reactjs/blob/master/src/learn/ImgDropAndCrop.js

But instead of using FileReader in line 135 I used Javascript-Image-Load

`handleFileSelect = event => {
    const files = event.target.files;
    if (files && files.length > 0) {
      const isVerified = this.verifyFile(files);
      if (isVerified) {
        const

[2018-11-07 15:38] tudorpavel commented on #206
I think I'm experiencing the same issue, but my expectation is to not have the diagonal flip/invert at all if the rectangle is at the edge of the image.

The issue is that this behavior circumvents `keepSelection=true`, meaning you can disable selection by inverting the rectangle on a corner of the image and then having the possibility to start a new selection elsewhere.

Best explained by a GIF:

[2018-11-07 16:04] tudorpavel commented on #206
I've played around with the code in `this.crossOverCheck()`, it's not very straightforward to prevent crossover at the edges of the image. I would actually want a prop `preventCrossover` to disable flipping altogether, what do you think?

[2018-11-08 06:50] maxsize commented on #150
Hi @DominicTobias , I am using 6.0.4.

[2018-11-13 15:21] DominicTobias commented on #214
Please make a reproducible version of your issue on the sandbox as it should be literally impossible for pixelCrop to be null unless your crop is falsy - https://github.com/DominicTobias/react-image-crop/blob/master/lib/ReactCrop.js#L95

[2018-11-13 16:08] #206 closed

[2018-11-13 16:11] #205 closed

[2018-11-13 16:18] DominicTobias commented on #208
Nice @abel30567, since this library doesn't control how the image is loaded I'm going to close this. It's a good candidate for a plugin which would help any cropping library if something like that doesn't exist, but would need testing and maintenance which I don't want to do tbh!

I will add a section in the Readme about this

[2018-11-13 16:18] #208 closed

[2018-11-13 19:33] DominicTobias commented on #206
Fixed in 6.0.5

[2018-11-13 20:53] bakerGS commented on #133
Hi,

Did you find a solution for this problem?

I am facing with the same issue you described.

Thanks!

[2018-11-13 21:49] DominicTobias commented on #133
I was about to say I couldn't replicate but I've only just realised what the issue is - it's when you change only the aspect, otherwise it works. I will fix this in the next few days.

[2018-11-13 22:37] DominicTobias commented on #133
Fixed in 6.0.6

[2018-11-13 22:37] #133 closed

[2018-11-13 22:56] DominicTobias commented on #206
* Note I improved something in this behaviour in 6.0.7

[2018-11-14 10:53] bakerGS commented on #133
Thanks,

But I think is still with problems.

You can check on your sandbox (https://codesandbox.io/s/72py4jlll6) and changing aspectRatio to 2/3 for example.

Look at this example:

![react-image-crop](https://user-images.githubusercontent.com/255518/48478154-bf7d3580-e803-11e8-822d-3917a24e56eb.gif)

At the example above you can see after changing the image, the aspect ratio is not 2/3, is like

[2018-11-14 10:57] DominicTobias commented on #133
@bakerGS did you upgrade the sandbox version of react-image-crop to 6.0.7? My sandbox is currently on the unfixed version so just making sure

[2018-11-14 11:09] bakerGS commented on #133
You're right, thanks for your help!!!

[2018-11-14 15:36] tudorpavel opened #217 ""Maximum call stack exceeded" error on iOS Safari"
Version: 6.0.7

Steps to reproduce:
  - open demo on iOS Safari (I'm using an iPhone 6 with iOS 11.4.1)
  - upload an image
  - click "Change to 16/9 aspect" button
  - play around with the resize
  - notice that page starts freezing up

Using USB debugging on macOS Safari I was able to identify the error as:

![screen shot 2018-11-14 at 17 23 09](https://user-images.githubusercontent.com/2506871/

[2018-11-14 15:38] DominicTobias commented on #217
Thanks @tudorpavel, I was afraid of this after I made the update there. I will see if I can see why but otherwise I have an idea to change that code to make it safer.

[2018-11-14 15:54] djorak opened #218 ""Maximum update depth exceeded" when clicking the image"
I have been getting this error and it looks like it was introduced recently. At first I assumed it was an issue in my local setup, but I can reproduce it in the demo.

It seems to come from the fact that the `onChange` gets called in an infinite loop.

- Version: 6.0.7
- Steps to reproduce:
    1. open demo (Tried in Firefox and Chrome)
    2. upload an image
    3. click anywhere in the image

[2018-11-14 15:58] tudorpavel commented on #217
Indeed, it's most likely a regression caused by the fix for #206. I cannot reproduce this issue on version 6.0.4.

[2018-11-14 16:08] DominicTobias commented on #217
Fixed in 6.0.8

[2018-11-14 16:24] DominicTobias commented on #218
Hi this should be fixed in 6.0.8 please give it a go

[2018-11-14 16:26] djorak commented on #218
Thank you, 6.0.8 fixed it. 🙂

[2018-11-14 16:27] DominicTobias commented on #218
Great thanks for checking

[2018-11-14 16:34] #217 closed

[2018-11-14 16:36] DominicTobias commented on #133
@bakerGS unfortunately due to this introducing a bug I had to revert this, so just like when you initially set a crop you must omit (or set to falsy) either width or height when changing the aspect in order for the component to generate a new complete crop:

[code]

[2018-11-14 17:28] tudorpavel opened #219 "Compatibility with react-modal on iOS"
I couldn't find any previous discussion on this, so I will start one here.

Our use case involves adding ReactCrop inside a [react-modal](https://github.com/reactjs/react-modal) and we noticed that ReactCrop does not work properly on iOS when placed inside a modal. Basically, the crop rectangle disappears.

I'm not sure what could be causing this, but my guess is that on iOS Safari the `getElement

[2018-11-14 17:42] DominicTobias commented on #219
Hi, are you running this on a mobile phone from a server by any chance?

[2018-11-14 17:59] tudorpavel commented on #219
The demo? Yep, I'm using [serve](https://www.npmjs.com/package/serve) to open the demo on a mobile phone:
[code]

And then using my local IP and port `5000` on the device.

[2018-11-14 18:01] DominicTobias commented on #219
Then please pull the latest master and npm install, otherwise you don't get ReactCrop.css because the relative path to it `../dist/ReactCrop.css` doesn't work when running a server. After that it should be fine in a modal.

[2018-11-14 18:07] tudorpavel commented on #219
I did have that problem initially because I used `serve` with just the `demo/` folder, but after that I made sure the CSS is loaded properly by serving the entire repo folder. The crop rectangle appears initially but the problems start when trying to move/resize it.

Regardless, we first noticed these issues in our app which uses [create-react-app](https://github.com/facebook/create-react-app).

[2018-11-14 18:09] DominicTobias commented on #219
Hm strange, your fork works fine for me if I npm start and then open demo/index.html, even after moving, resizing etc

[2018-11-14 18:10] tudorpavel commented on #219
Did you try it on an iPhone with Safari? It works fine everywhere else, as is usually the case with Safari... :cry:

[2018-11-14 18:18] DominicTobias commented on #219
I did just try updating your branch against master so that it has the change in demo.js at the top `import '../dist/ReactCrop.css';` and then I ran a simply python server `python -m SimpleHTTPServer 3636` inside the demo folder:

![ios](https://user-images.githubusercontent.com/760314/48503255-865fb800-e839-11e8-9c51-228ee764c05c.png)

[2018-11-14 18:25] tudorpavel commented on #219
Hmm, interesting... It's true I tested it with 6.0.7 earlier when I was still in the office but now I don't have an iPhone with me.

I will check again tomorrow morning, thanks!

We can close this for now.

[2018-11-14 18:25] #219 closed

[2018-11-15 09:56] tudorpavel commented on #219
To follow up, I have it working as expected in the demo. The popup in our app still behaves strangely on small screen (iPhone) even though it works as in the demo on large screen (iPad). I will have to investigate it further in our setup.

[2018-11-15 10:05] tudorpavel opened #220 "Wrong aspect ratio when setting all width, height and aspect"
When using initial values for `width`, `height` and `aspect`, the initial load seems to default to the image aspect ratio, instead of the given aspect.

I've made a demo: https://github.com/Camversity/react-image-crop/tree/demo-initial-aspect

## Actual:
![initial_load_issue_actual](https://user-images.githubusercontent.com/2506871/48545023-a345cb00-e8cd-11e8-8276-7636c8084e7b.png)

## Expected:
!

[2018-11-15 10:12] tudorpavel commented on #220
Okay damn, this is to be expected since the given `width` and `height` are in fact percentages of the image width and height respectively.

Sorry about that.

[2018-11-15 10:12] #220 closed

[2018-11-15 11:29] DominicTobias commented on #201
Closing due to inactivity, feel free to discuss here if you have anything else to say

[2018-11-15 12:48] bakerGS commented on #133
@DominicTobias Can you tell me the new bug? I can't find it.

[2018-11-15 12:57] DominicTobias commented on #133
I’ve fixed the bug now, the change I made for this was causing an infinite
loop. If you want to change the aspect and let the component figure out the
adjustment in width or height then set width or height to null at the same
time

On Thu, 15 Nov 2018 at 12:48, bakerGS <notifications@github.com> wrote:

[2018-11-15 15:02] tudorpavel commented on #219
I've finally gotten to the bottom of this... The weird behavior was in fact due to 2 issues:

1. My mistake from #220: I was setting all `width`, `height` and `crop`. The solution was to set initial values only for `width` and `crop`, while setting `height: null`.

2. Issues with EXIF orientation discussed in #205 and mentioned in the README (I should've [RTFD](https://www.urbandictionary.com/defi

[2018-11-15 15:09] DominicTobias commented on #219
Ok great glad you got it working 👍

On Thu, 15 Nov 2018 at 15:02, Tudor Pavel <notifications@github.com> wrote:

[2018-11-15 15:10] DominicTobias commented on #219
Ps I’m thinking about maybe making the drag handles slightly larger for
touch devices, if you have trouble dragging them let me know. Another guy
was saying his users in user eating found it hard (they are only 9x9 atm I
think)

On Thu, 15 Nov 2018 at 15:08, dominic tobias <dominic.tobias@gmail.com>
wrote:

[2018-11-15 15:17] tudorpavel commented on #219
Sure, I guess it couldn't hurt to have them larger to improve the UX on touch devices. :+1:

[2018-11-17 13:34] YoshiYo opened #221 "Sandmox demo - On click crash"
Hey,

I used your sandbox to better understand your package.
Indeed, if you click away on the image outside the selection box, the code crash because the blob is empty.

I just add an "if" to handle the problem. If you have a better way to achieve this, tell me.
[code]

This is the new sandbox url updated : https://codesandbox.io/s/y0yqnowlpx

[2018-11-17 13:45] DominicTobias commented on #221
Hi, thanks I noticed this but didn't get around to fixing it. It happens when the crop width and height is 0 so it can be caught a bit higher up the food chain. I've updated the sandbox now.

[code]

[2018-11-17 14:11] YoshiYo commented on #221
Hi @DominicTobias,

Thank you for your answer.
Yes, when I wrote this, I was : "Okey, I know it's not the best idea but ok, it's seems working".

I updated my code with your tip.

Thanks you 🚀

[2018-11-17 14:11] #221 closed

[2018-11-21 08:57] Grimfrid opened #222 "Change crop don't trigger onComplete (in some cases)"
I need to get updated `pixelCrop` on each change `crop` prop, but now 'onComplete' callback calls only in condition https://github.com/DominicTobias/react-image-crop/blob/master/lib/ReactCrop.js#L510

How about to trigger `onComplete` callback on each `crop` change?

[2018-11-21 14:12] DominicTobias commented on #222
Hi what's your use case? That code is ran on componentDidUpdate so the check is important to prevent an infinite loop, it is designed to only trigger if the library makes an aspect crop because the crop passed in was incomplete. All normal interaction with the crop fires those events already.

[2018-11-21 14:14] DominicTobias commented on #222
Never mind I see you made a sandbox and the issue is that reset aspect does not fire thanks - I will check that later

[2018-11-21 14:18] DominicTobias commented on #222
The danger of an infinite loop:

1. you change the crop manually
2. it fires an onChange
3. you set the crop in onChange
... which fires an onChange (infinite loop)

Normally the onChange and onComplete callback exists as an opportunity to set the state, but you've already set it (that's why I'm wondering what your use case is).

It might be possible to change this so that it checks if all the pro

[2018-11-22 07:11] Grimfrid commented on #222
I don't think about infinite loop, now I'm understand, thank you for explanation. For now, I use exported function `getPixelCrop` for calculate `pixelCrop` manually, it helps me.

You had made a great tool, thank you 👍

[2018-11-23 10:44] nanxiaobei commented on #196
Hi, @DominicTobias
How did you do that? I found it's hard to set `this.state.crop` in `onImageLoaded`, then how can we modify `crop` in `onChange`?

[2018-11-23 11:20] nanxiaobei opened #223 "`aspect` not work after choose another image"
If set `crop.aspect = 100 / 100`,
Choose first image, crop area is **Square**.
Choose another image, then crop area became **Rectangle**.

https://codesandbox.io/s/72py4jlll6

That's confusing.

[2018-11-23 16:14] nanxiaobei commented on #223
@DominicTobias
Thanks for your replay.
Do you mean calling `this.setState({ crop: { ...crop, width: null } })` in  `onImageLoaded`?
But `this.setState` is asynchronous, `onChange` still got "old" crop.

[2018-11-23 16:45] nanxiaobei commented on #223
In this demo: https://codesandbox.io/s/qln4or8qqq,
With `react-image-crop@4.0.1` version, the crop keeps ratio in two images, works fine.
But if upgrade to `react-image-crop@6.0.8`, the crop breaks between two images.

[2018-11-23 17:04] nanxiaobei commented on #223
After test, I found the last working version is `6.0.2`.

[2018-11-23 18:39] DominicTobias commented on #223
Thanks for this, there was indeed a regression which is fixed in 6.0.9. See updated sandbox - https://codesandbox.io/s/72py4jlll6

Note the check in onImageLoaded to make the library make a new crop for images after the first one:

[code]

[2018-11-23 18:48] nanxiaobei commented on #223
Really appreciate your quick response.

[2018-11-23 18:48] #223 closed

[2018-11-28 18:15] avo opened #224 "Specifying aspect with only width or height does not initialize the cropper area"
Your documentation specifies that when using aspect to only specify width OR height (or neither). Currently, when passing in the following crop, no cropper area is initialized but it does draw the cropper with aspect appropriately. If I pass both a height and a width than the cropper area is displayed but then the aspect isn't necessarily correct (based on the image dimensions) since width and hei

[2018-11-28 18:21] DominicTobias commented on #224
Hi, can you clarify what you mean by this bit "no cropper area is initialized but it does draw the cropper with aspect appropriately."?

If you take a look over here it does draw an aspect on the image you load in: https://codesandbox.io/s/72py4jlll6

[2018-11-28 19:12] avo commented on #224
Your example does appear to load the image with the crop area initially on it. I had run a basic test specifying only two props (src and crop) where the src was hard coded as a string and the crop similar to the above with aspect ratio and it did not load initially with the crop area; I had to drag to crop.

[2018-11-28 21:10] DominicTobias commented on #224
Hm are you able to replicate with this? https://codesandbox.io/s/k3233k2ov3

[2018-11-28 21:56] avo commented on #224
I dug into it further and noticed that I was not using the latest 6.x.x version. After updating, I was able to track down the bugs on our end. We have an avatar component that utilizes a cropper component which wraps this cropper. We had a few issues: one was that we were declaring with and height with the aspect which caused the aspect to not be the expected value and we did not have x and y decl

[2018-11-28 21:56] #224 closed

[2018-11-28 22:04] DominicTobias commented on #224
Ok glad you fixed it! I would like to automatically fix invalid crops in the future even if both width and height are specified, I wrote the code tonight but just need to test it carefully as it's quite easy to cause an infinite loop.